@mixin button($color, $bg-color)
  padding: 7px 15px
  border-radius: $br
  text-decoration: none
  display: inline-block
  color: $color
  background-color: $bg-color
  border: 1px solid $color
  white-space: nowrap

  &.disabled
    opacity: 0.5
    pointer-events: none

  &.narrow
    padding: 3px 10px

  &:hover
    background: darken($bg-color,10)

.c-button
  @include button(white, $blue)
  border: 1px solid $blue

  &.white
    color: $blue
    background-color: white

    &:hover
      background: darken(white, 10)

.n-button
  @include button($medium-grey, white)

.t-button
  @include button($blue, $light-grey)

