// Colors
$blue: #4DB3CF
$red: red
$green: green
$light-grey: #EFEFEE

// borders
$border: $light-grey
$border-light: rgba(#fff, .2)

// Sizes
$padding: 2rem
$br: 5px

// Screen
$small: 400px
$medium: 800px
$large: 1200px
