// Colors
$blue: #4DB3CF
$light-grey: #EFEFEE

// borders
$border: 1px solid rgba(#000, .2)
$border-light: rgba(#fff, .2)

// Sizes
$padding: 2rem
$br: 5px

// Screen
$small: 400px
$medium: 800px
$large: 1200px
