.mod-usage
  @extend %box
  margin-bottom: 20px

  .header
    +clearfix
    padding: 20px
    border-bottom: 1px solid $border

    h1
      float: left
      @extend %h3

    .options
      float: right

      fieldset
        display: inline-block
        margin-left: 20px

      .surf_chart.download
        @extend .c-button

  .body
    padding: 20px

    .chart-container
      position: relative

      #chart
        min-height: 600px
