dashboard.txt
bin
dependency.tree
coin-dashboard.properties.local
.sass-cache
target
*.iml
.idea
.project
.classpath
.settings
*rebel.xml
testfiles
.DS_Store
coin-dashboard-war/src/test/resources/coin-dashboard.properties.backup
ConvenientLocalTestJson.java
style_dashboard_acc.css
ResourceBundleUtils.java
*.log
manage-json
notes.txt
*.css
application-local.properties
jira_change_requests.json
SabClientIntegrationTest.java
sso.txt
TODO.txt
queries.md

