sudo: false
language: java
jdk:
  - oraclejdk8
node_js:
  - 6
services:
  - mysql
cache:
  directories:
    - $HOME/.m2
    - node_modules
install:
  - cd dashboard && nvm install $(cat .node-version) && npm install && cd ..
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
before_script:
  - mysql -e "create database csa default character set utf8;
    create user 'csa'@'localhost' identified by 'csa';
    grant all on csa.* to 'csa'@'localhost';" -uroot
script:
  - mvn verify -B
after_success:
  - bash <(curl -s https://codecov.io/bash)
