.mod-filters
  @extend %box

  .header
    padding: 20px

  h1
    @extend %h2
    font-weight: bold
    display: inline-block

  .download-button
    float: right

  fieldset
    border: 0
    padding: 20px
    border-top: 1px solid $border
    i.fa-info-circle
      color: $blue
      margin-left: 15px
    div.__react_component_tooltip
      z-index: 999
      pointer-events: auto !important
  label
    display: block
    line-height: 25px

    &.inactive
      cursor: default
      color: #ccc

  input
    margin-right: 5px

  .float-right
    float: right

  .greyed-out
    color: grey

  input[type=text]
    width: 100%

  em.arp-info
    display: inline-block
    margin-top: 15px
    font-size: 14px
    font-style: italic
