.mod-policy-list
  @extend %box, %table

  .controls
    white-space: nowrap

    a
      padding: 0 5px

.mod-policy-search
  @extend %box, %search-box

.mod-policy-detail, .mod-policy-detail-help
  @extend %box

  h2
    @extend %h2
    padding: 20px

  h1
    @extend %h1
    padding: 20px

  .label
    color: $blue

  .form-element
    padding: 20px 0
    border-top: 1px solid $border

  fieldset
    padding: 5px 70px 10px 40px

    &.success
      border-left: 6px solid $blue

    &.failure
      border-left: 6px solid $medium-grey

  .logical-rule
    float: left
    line-height: 30px
    overflow: hidden
    border-radius: $br

    li
      float: left
      list-style: none
      text-align: center

    a, span
      display: block
      width: 60px
      border: 1px solid $medium-grey
      text-decoration: none
      color: $medium-grey

      &.AND, &.EN
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px

      &.OR, &.OF
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

      &.selected:hover
        text-decoration: none

    a:hover, a.selected
      background: $blue
      color: #fff
      border-color: $blue

    span.selected
      background: $medium-grey
      color: #fff
      border-color: $medium-grey

.mod-policy-detail-help
  padding-bottom: 20px

  p
    padding: 0 20px
