.mod-policy-list
  @extend %box, %table

  .controls
    white-space: nowrap

    a
      padding: 0 5px

.mod-policy-search
  @extend %box, %search-box

.new-policy
  padding: 20px 18px
  line-height: 23px
  font-size: 20px

