div.stats
  h2.title
    margin-bottom: 5px
    &.secondary
      margin-top: 10px
  div.checkbox
    margin-top: 10px
  label.date-picker-container
    position: relative
    i.fa-calendar
      position: absolute
      top: 0
      right: 0
      font-size: 18px
      background-color: #d1d1d1
      padding: 5px 8px 5px 8px
      border-bottom-right-radius: 5px
      border-top-right-radius: 5px
  div.react-datepicker-wrapper, div.react-datepicker__input-container
    width: 100%
