@import "../utilities/vars.sass"

.mod-consent
  padding-right: 140px
  section.change-form
    display: flex
    flex-direction: column
    label
      font-weight: 600
      margin-bottom: 5px
      &:not(:first-child)
        margin-top: 25px

    i.fa-info-circle
      color: $blue
      margin-left: 10px
    button.save
      margin: 30px 0 20px auto
      font-size: larger
    h2
      margin-bottom: 15px


