.mod-footer
  background-color: #1983d5
  color: #fff
  padding: 12px 5px 10px 5px

  .container
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  a
    display: block
    color: #b2e5ff
    text-decoration: none

    &:hover
      color: darken(#b2e5ff, 5%)

  .help, .powered-by-surf
    margin-bottom: 10px

  ul.language-selector
    display: flex
    align-items: flex-start
    margin-bottom: 10px

    li
      border-right: 1px #b2e5ff solid
      padding: 0 5px

      &.selected a
        color: #fff
        font-weight: bold

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0
        border-right: 0
