@import "../utilities/placeholders.sass"
@import "../utilities/vars.sass"
@import "../utilities/mixins.sass"

.mod-header
  padding: 25px 30px 10px
  background: #fff
  border-bottom: 2px solid $blue
  display: flex
  align-items: center

  // Main app title
  .title
    white-space: nowrap
    &.openconext
      background: url("../images/open-conext-logo.png") no-repeat left center
      background-size: 161px 50px
    &.surfconext
      background: url("../images/logo@2x.png") no-repeat left center
      background-size: 161px 50px
    &.rctsaai
      background: url("../images/rctsaai_blue.svg") no-repeat left center
      background-size: 161px 50px
    height: 50px
    font-size: 20px
    line-height: 30px

    a
      color: $blue
      padding-left: 170px

      &:hover
        color: $blue

  div.institute
    p
      line-height: 30px
      margin: auto 20px
      color: $green
      &.testaccepted
        color: $red

  div.login
    a
      margin-left: 140px
      display: inline-block
      padding: 7px 78px
      text-transform: uppercase
      font-weight: bold
  // Meta = right aligned stuff
  .meta
    display: flex
    margin-left: auto

    a.super-user
      display: inline-block
      margin-left: 25px

  // Styling for elements
  a
    text-decoration: none
    &:hover
      text-decoration: underline

  .links
    margin-left: 25px
    line-height: 30px

    li
      float: left
      list-style: none

    a
      display: block
      padding: 0 14px
      border-right: 1px solid $light-grey

    li:last-child a
      border: 0

  ul.language-selector
    display: flex
    width: 100px
    height: 32px
    margin-left: 25px
    list-style: none
    border: 1px solid $blue
    border-radius: $br
    font-size: medium

    li
      display: inline-block
      padding: 5px 0
      margin: 0
      flex: 1
      text-align: center

      &:first-child
        border-bottom-left-radius: 1px
        border-top-left-radius: 1px

      &:last-child
        border-bottom-right-radius: 1px
        border-top-right-radius: 1px

      &:not(:first-child):not(:last-child)
        border-left: 1px $blue solid
        border-right: 1px $blue solid

      a
        font-weight: normal
        padding: 0

      &.selected
        background-color: $blue
        a
          color: white

  .name
    line-height: 30px

    .fa-caret-down,
    .fa-caret-up
      padding-left: 5px

    > ul
      @extend %box
      position: absolute
      z-index: 100
      padding: 20px 20px 0
      max-width: 400px
      min-width: 200px
      top: 60px
      box-shadow: 1px 1px 5px*2 rgba(black, .4)
      li
        list-style: none

      &.show
        display: block

    li li,
    h2
      border-bottom: 1px solid $border

    ul ul
      margin-bottom: 20px

    .select-idp
      li
        padding-left: 15px
        position: relative

        &.testaccepted
          a
            color: $red!important
        .fa-caret-right
          position: absolute
          left: 0
          top: 8px
