@import "../utilities/placeholders.sass"
@import "../utilities/vars.sass"

.mod-policy-detail, .mod-policy-detail-help
  @extend %box

  h1
    font-size: 30px
    line-height: 40px
    padding: 20px

  .label
    color: $blue
  a.help-link
    display: inline-block
    font-size: 22px
    margin-left: 10px

  .info
    font-weight: bold

    &.not-selected
      color: $medium-grey

  em

    &.not-selected
      color: $medium-grey

    &.note
      display: block
      padding-top: 20px
      font-size: 12px

  .form-element
    padding: 20px 0
    border-top: 1px solid $border

  fieldset
    padding: 5px 50px 10px 40px

    &.success
      border-left: 6px solid $blue

    &.failure
      border-left: 6px solid $medium-grey

  .logical-rule
    float: left
    line-height: 30px
    overflow: hidden
    border-radius: $br

    li
      float: left
      list-style: none
      text-align: center

    a, span
      display: block
      width: 60px
      border: 1px solid $medium-grey
      text-decoration: none
      color: $medium-grey

      &.AND, &.EN
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px

      &.OR, &.OF
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

      &.selected:hover
        text-decoration: none

    a:hover, a.selected
      background: $blue
      color: #fff
      border-color: $blue

    span.selected
      background: $medium-grey
      color: #fff
      border-color: $medium-grey

  select
    font-size: inherit
    color: $dark-grey
    border: 1px solid $medium-grey
    background: white
    height: 30px
    width: 100%

  .attribute-values
    margin: 10px 0 10px 25px
    padding-left: 20px
    border-left: 1px solid $medium-grey

    input
      margin-bottom: 10px

      &.before-em
        margin-bottom: 0

  .attribute-container, .value-container
    position: relative

    a
      position: absolute
      right: 8px
      top: 4px
      font-size: 18px

      &.remove
        color: $remove-red

      &.add
        color: $blue

  input[type="text"]:disabled
    background-color: #fbfbfb

  a.plus i
    margin-right: 10px

  input + em.attribute-value
    margin-bottom: 10px
    display: inline-block
    margin-top: 3px


.mod-policy-detail-help
  padding-bottom: 20px

  h2
    font-size: 20px
    line-height: 30px
    padding: 10px 20px 5px 20px

  p
    padding: 0 20px
