.mod-service-header
  background-color: #f3f6f8
  padding: 23px 0

  h1
    font-size: 30px
    color: #008738
    font-weight: 600
    margin-bottom: 10px
    line-height: 1

  .header-wrapper
    display: flex

    .arrow-container
      width: 47px

      .fa-arrow-left
        width: 24px
        height: 24px
        color: #5e6873

    .service-info-container
      flex: 1
      display: flex
      justify-content: space-between

      .left
        display: flex

        .organisation
          font-size: 16px
          margin-bottom: 4px

        .entity-id
          color: #0077c8
          font-weight: 600
          margin-bottom: 4px

        .license
          display: flex
          margin-top: 20px
          svg
            width: 19px
            margin-right: 7px

          .tooltip-trigger
            display: flex
            &.underline
              text-decoration: underline
              cursor: pointer

            svg
              margin-left: 7px

        .tool-tip
          a
            color: #fff

      .logo
        max-width: 120px
        margin-right: 20px
        flex-shrink: 0

        img
          max-width: 100%
