@import "../base/type.sass"
@import "../utilities/mixins.sass"
@import "../utilities/vars.sass"

.tickets
  .tickets-header
    background-color: #f3f6f8
    padding: 17px 0

    .container
      display: flex
      flex-wrap: wrap
      align-items: center

      h1
        @include font-size(30)
        font-weight: 600
        margin-left: 28px

    svg
      width: 34px

    span
      margin-left: 45px
      color: #4e4e4e
      @include font-size(12)

  .tickets-content
    padding-top: 34px

    .container
      display: flex
      flex-wrap: wrap

    h2
      @extend %h2
    h3
      @include font-size(20)
      font-weight: 600

    .filters
      width: 200px
      a
        display: block
        font-weight: 600
        text-decoration: none
        margin: 16px 0

        &.active
          color: $text

    .list
      flex: 1

      p.no-results
        margin-top: 20px

      .ticket
        border: 1px solid #c8c8c8
        border-radius: 6px
        margin: 20px 0
        display: flex

        .ticket-content
          padding: 12px
          flex: 1

          @media(min-width: 768px)
            padding: 12px 28px

          .title-and-status
            display: flex
            justify-content: space-between
            align-items: center

            .status-badge
              background-color: #eaeaea
              border-radius: 100px
              padding: 3px 12px
              @include font-size(12)
              font-weight: 600

          p.personal-message
            max-width: 80%

          h4
            @include font-size(18)
            color: #1e5db4
            font-weight: 600
            margin-bottom: 12px

          .actions
            a
              margin-top: 20px
              margin-left: 10px

              &:first-child
                margin-left: 0

        .ticket-details
          width: 170px
          word-break: break-word

          @media(min-width: 768px)
            width: 270px

          border-left: 1px solid #e4e4e4

        .ticket-detail-row
          display: flex
          align-items: center
          padding: 13px 0
          border-bottom: 1px solid #dadada

          &:last-child
            border-bottom: none

          &.type
            color: #353535
            font-weight: 600
            background-color: #f3f6f8

          &.timestamps
            @include font-size(12)
            line-height: 14px

          svg
            margin: 0 12px
            @media(min-width: 768px)
              margin: 0 24px
            width: 24px


