@import "../utilities/vars.sass"

.mod-welcome
  background: #fff
  border-bottom: 1px solid #c3c3c3

  .container
    display: flex
    align-items: center

  a.welcome-text
    padding: 15px 0
    color: $text
    text-decoration: none

  a.close
    color: $blue
    margin: 0 0 auto auto
    padding: 15px
    text-decoration: none

