@import "../utilities/vars.sass"

.mod-welcome
  background: #fff
  border-bottom: 1px solid #c3c3c3

  .container
    display: flex
    align-items: center

  p
    padding: 15px 0

  a.close
    color: $blue
    margin: 0 0 auto auto
    padding: 15px
    text-decoration: none

