@import "../utilities/vars.sass"

.mod-welcome
  background: #fff
  display: flex
  align-items: center

  p
    padding: 15px 30px

  a.close
    color: $blue
    margin: 0 0 auto auto
    padding: 15px
    text-decoration: none

