@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always;
}

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px;
}
p p,
p ul,
p ol,
p th,
p td,
p legend,
ul p,
ul ul,
ul ol,
ul th,
ul td,
ul legend,
ol p,
ol ul,
ol ol,
ol th,
ol td,
ol legend,
th p,
th ul,
th ol,
th th,
th td,
th legend,
td p,
td ul,
td ol,
td th,
td td,
td legend,
legend p,
legend ul,
legend ol,
legend th,
legend td,
legend legend {
  font-size: 1em;
}

li {
  line-height: 25px;
}

p,
ul,
ol,
.arp {
  margin-bottom: 25px;
}
p:last-child,
ul:last-child,
ol:last-child,
.arp:last-child {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.content h1 a,
.content h2 a,
.content h3 a {
  color: black;
}
.content li {
  line-height: 25px;
}

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover, a:focus {
  color: #070705;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.wrapper {
  clear: both;
  width: 100%;
}
.wrapper .content-holder .content {
  padding: 0;
}
.wrapper .side-content-holder section {
  margin-right: 50px;
}
.wrapper .side-content-holder section p {
  color: #7d7d7d;
}
.wrapper section {
  background: transparent;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.wrapper h1:first-child,
.wrapper h2:first-child,
.wrapper h3:first-child {
  margin-top: 0;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  color: black;
}
.wrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 1em 0 0.5em;
}
.wrapper h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper hr {
  border-top: 1px solid #e5e5e5;
  height: 0;
  margin: 25px 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.license-connect {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding: 1em 0;
}
.license-connect div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 45px;
  position: relative;
  width: 50%;
}
.license-connect div:before {
  background: url(../images/sprite-license-availability.png);
  content: "";
  height: 39px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 34px;
}
.license-connect .license-available,
.license-connect .license-not-available,
.license-connect .license-not-needed {
  padding-bottom: 5px;
}
.license-connect .license-available:before,
.license-connect .license-not-available:before,
.license-connect .license-not-needed:before {
  background: url(../images/sprite-license-availability.png);
}
.license-connect .license-available strong,
.license-connect .license-not-available strong,
.license-connect .license-not-needed strong {
  color: #00b274;
}
.license-connect .license-not-available:before {
  background-position: -35px 0;
}
.license-connect .license-not-available strong {
  color: #e31937;
}
.license-connect .license-not-needed:before {
  background-position: -70px 0;
}
.license-connect .license-not-needed strong {
  color: #666666;
}
.license-connect .service-connected,
.license-connect .service-not-connected {
  padding-left: 49px;
  padding-bottom: 5px;
}
.license-connect .service-connected:before,
.license-connect .service-not-connected:before {
  background: url(../images/sprite-service-connectivity.png);
  height: 35px;
  top: 7px;
  width: 39px;
}
.license-connect .service-connected strong,
.license-connect .service-not-connected strong {
  color: #00b274;
}
.license-connect .service-not-connected:before {
  background-position: -39px 0;
}
.license-connect .service-not-connected strong {
  color: #e31937;
}
.license-connect p {
  margin-bottom: 0;
}
.license-connect.narrow-license-connect div {
  width: 100%;
}
.license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 1.25em 0;
  padding: 1.25em 0;
}
.action-list a {
  background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.7em 50px 0.7em 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-list a[href^="mailto:"] {
  background: none;
}
.action-list a[href^="mailto:"]:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 0.5em;
}
.action-list.email-addresses {
  border-top: none;
  color: #7d7d7d;
  margin-top: -2.5em;
}

.application-logo {
  max-height: 120px;
  max-width: 200px;
}

.launch-icons {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  margin: 1.25em 0 0;
  padding-top: 1.25em;
}
.launch-icons li {
  padding: 0.5em 0;
}
.launch-icons .start-app, .launch-icons .recommend-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 170px;
  font-size: 1em;
}

.service-stats {
  margin: 0 0 17px 0;
  padding: 0;
  position: relative;
}
.service-stats:before {
  background: url(../images/sprite-secondary-menu.png);
  background-position: -40px -150px;
  content: "";
  height: 50px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  width: 30px;
}
.service-stats:hover:before, .service-stats:focus:before, .service-stats.active:before {
  background-position: 0 -150px;
}

.profile-attributes-js {
  position: relative;
}
.profile-attributes-js .attributes-main {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-attributes-js .attributes-main ul {
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 450px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 25px;
  width: 85%;
}
@media (max-width: 480px) {
  .profile-attributes-js .attributes-main ul {
    padding: 1em;
  }
}
.profile-attributes-js .attributes-main ul li {
  overflow: hidden;
}
.profile-attributes-js .attributes-main ul span {
  float: right;
  font-style: italic;
}
.profile-attributes-js .attributes-main ul .see-all {
  margin-top: 1.5em;
  text-align: right;
}
.profile-attributes-js .attributes-main ul .btn {
  margin-right: 0;
}

.alert-success {
  background-color: #dbf4eb;
  border-color: #00b274;
  color: #00b274;
}

.inlinehelp {
  margin-left: 10px;
}

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px;
}
footer .content-some-dense {
  padding: 0;
}
footer a {
  color: #999999;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover, footer a:focus {
  color: #070707;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px;
  }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em;
  }

  section {
    margin-right: 0 !important;
  }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .action-list li {
    max-width: 15em;
  }
  .action-list a:not(.service-stats) {
    padding: 0.3em 50px 0.3em 0;
  }

  footer {
    padding: 25px;
  }
}
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px;
  }

  .license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
    margin-bottom: 0.5em;
    padding-bottom: 2em;
  }

  .service-connected,
  .service-not-connected {
    padding-bottom: 20px;
  }
}
.app-grid-wrapper h1.hidden-phone {
  display: inline;
  margin: 0;
}
.app-grid-wrapper nav.column-left {
  padding: 0;
}
.app-grid-wrapper .search-grid-app-holder {
  margin: 40px 0px 0px 16px;
}
.app-grid-wrapper .facet-search {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 20px 0px 10px 30px;
  width: 220px;
}
.app-grid-wrapper .facet-search .facet-name {
  font-weight: bold;
}
.app-grid-wrapper input.app-grid-search-2 {
  background: white url(../images/bg-icon-grid-search.png) no-repeat 96% 50%;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  line-height: 18px;
  padding: 6px 16px;
  width: 230px;
}
.app-grid-wrapper input.app-grid-search-2:focus {
  outline: none;
}
.app-grid-wrapper input.app-grid-search-2::-webkit-input-placeholder {
  color: #cacaca;
}
.app-grid-wrapper input.app-grid-search-2:-moz-placeholder {
  color: #cacaca;
}
.app-grid-wrapper input.app-grid-search-2:-ms-input-placeholder {
  color: #cacaca;
}
.condensed .app-grid-wrapper input.app-grid-search-2 {
  right: 25px;
  top: 25px;
}
.app-grid-wrapper input.app-grid-search-2.filters-available input.app-grid-search {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

p.recent-login {
  font-size: 11px;
  margin: 0;
}
p.recent-login i:before {
  color: #4fb3cf;
}

.view-option {
  display: block;
  float: right;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #aaaaaa;
}
.view-option i:before {
  font-size: 14px;
}
.view-option a {
  padding: 0px 5px;
}
.view-option a:first-child {
  border-right: 1px solid grey;
}
.view-option a:visited, .view-option a:link, .view-option a:active {
  text-decoration: none;
}
.view-option a.disabled {
  color: black;
  text-decoration: none;
  cursor: default;
}
.view-option a.disabled:visited {
  color: black;
}
.view-option a:visited {
  color: #4fb3cf;
}

.app-grid-holder {
  position: relative;
  padding: 32px 50px 50px;
}

.hidden-app-grid {
  display: none;
}

.app-grid {
  background: url(../images/bg-app-grid.png) repeat-x 0 100%;
  margin: 25px 0;
  overflow: hidden;
  width: 100%;
}
.app-grid.card-view {
  border-top: 1px solid #e5e5e5;
}
.app-grid.app-grid-js li {
  cursor: pointer;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.app-grid.app-grid-js li:hover {
  background: #f2f2f2;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.app-grid li.list-view {
  border: 1px solid #e5e5e5;
  width: 99%;
  display: block;
  min-height: 60px;
  margin-bottom: 5px;
  position: relative;
}
.app-grid li.list-view h2 {
  display: inline-block;
  padding-top: 7px;
  font-size: 1em;
}
.app-grid li.list-view h2 a:visited, .app-grid li.list-view h2 a:link, .app-grid li.list-view h2 a:active {
  text-decoration: none;
}
.app-grid li.list-view h2 a:hover {
  color: #4fb3cf;
  text-decoration: none;
}
.app-grid li.list-view p.desc {
  font-size: 0.8em;
  overflow: hidden;
}
.app-grid li.list-view div.app-meta-cta {
  display: inline-block;
  margin-left: 5px;
}
.app-grid li.list-view div.app-meta-cta a {
  text-decoration: none;
}
.app-grid li.list-view div.app-meta-cta a i {
  cursor: pointer;
}
.app-grid li.list-view div.app-meta-cta a i:before {
  color: #ec9900;
  cursor: pointer;
  font-size: 14px;
}
.app-grid li.list-view div.app-meta-cta a:hover i:before, .app-grid li.list-view div.app-meta-cta a:focus i:before {
  color: #a06802;
}
.app-grid li.list-view img {
  display: inline-block;
  float: left;
  max-width: 140px;
  max-height: 60px;
  padding: 10px;
}
.app-grid li.card-view {
  border: 1px solid #e5e5e5;
  border-width: 0 1px 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 127px;
  overflow: hidden;
  position: relative;
  width: 33%;
  padding: 18px;
}
.app-grid li.card-view:nth-child(3n) {
  border-right: none;
}
.app-grid li.card-view.hide {
  display: none;
}
.app-grid li.card-view .service-info-card {
  left: 18px;
  position: absolute;
  top: 80px;
}
.app-grid li.card-view .no-logo-available {
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: #aaaaaa;
  width: 80px;
  padding: 2px;
  text-align: center;
}
.app-grid li.card-view h2 {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100%;
  overflow: hidden;
}
.app-grid li.card-view h2 a {
  color: black;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.app-grid li.card-view h2 a:hover, .app-grid li.card-view h2 a:focus {
  color: #4fb3cf;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.app-grid li.card-view p.desc {
  height: 25px;
  line-height: 25px;
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
}
.app-grid li.card-view img {
  max-height: 49px;
  left: 18px;
  position: absolute;
  top: 18px;
  max-width: 108px;
}
.app-grid li.card-view .connect-app a {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background-size: 100% 100%;
  border: 1px solid lightgrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
  display: inline;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  padding: 4px 6px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  zoom: 1;
}
.app-grid li.card-view .connect-app a:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEC9900', endColorstr='#FFDD9000');
  background: #ef9900;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 153, 0, 0)), color-stop(100%, rgba(155, 100, 3, 0.2))), #ef9900;
  background: -webkit-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -moz-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -o-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  border-color: #cb9a40 #b66600 #b55e00 #b66600;
  color: white;
  text-decoration: none;
}
.app-grid li.card-view .connect-app a:after {
  background: url(../images/bg-open-app.png);
  content: "";
  display: inline;
  display: inline-block;
  height: 8px;
  left: 6px;
  position: relative;
  width: 15px;
}
.app-grid li.card-view .app-meta-cta {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 4px;
  line-height: 16px;
}
.app-grid li.card-view .app-meta-cta a.external-link {
  text-decoration: none;
}
.app-grid li.card-view .app-meta-cta a.external-link i {
  cursor: pointer;
}
.app-grid li.card-view .app-meta-cta a.external-link i:before {
  color: #ec9900;
  cursor: pointer;
  font-size: 14px;
}
.app-grid li.card-view .app-meta-cta a.external-link:hover i:before, .app-grid li.card-view .app-meta-cta a.external-link:focus i:before {
  color: #a06802;
}

.filter-grid {
  position: absolute;
  right: 50px;
  top: 43px;
}
.filter-grid div {
  float: right;
}
.filter-grid ul {
  float: right;
  list-style: none;
}
.filter-grid li {
  float: left;
}
.filter-grid a {
  background: #e5e5e5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #d8d8d8)), #e5e5e5;
  background: -webkit-linear-gradient(#e5e5e5, #d8d8d8), #e5e5e5;
  background: -moz-linear-gradient(#e5e5e5, #d8d8d8), #e5e5e5;
  background: -o-linear-gradient(#e5e5e5, #d8d8d8), #e5e5e5;
  background: linear-gradient(#e5e5e5, #d8d8d8), #e5e5e5;
  border: 1px solid #cccccc;
  border-width: 1px 0 1px 1px;
  color: black;
  display: block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 6px 16px;
  text-decoration: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.filter-grid a:hover, .filter-grid a:focus {
  background: #d8d8d8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8d8d8), color-stop(100%, #e5e5e5)), #d8d8d8;
  background: -webkit-linear-gradient(#d8d8d8, #e5e5e5), #d8d8d8;
  background: -moz-linear-gradient(#d8d8d8, #e5e5e5), #d8d8d8;
  background: -o-linear-gradient(#d8d8d8, #e5e5e5), #d8d8d8;
  background: linear-gradient(#d8d8d8, #e5e5e5), #d8d8d8;
}
.filter-grid a.active-filter {
  background: #7f7f7f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f7f7f), color-stop(100%, #727272)), #d0d0d0;
  background: -webkit-linear-gradient(#7f7f7f, #727272), #d0d0d0;
  background: -moz-linear-gradient(#7f7f7f, #727272), #d0d0d0;
  background: -o-linear-gradient(#7f7f7f, #727272), #d0d0d0;
  background: linear-gradient(#7f7f7f, #727272), #d0d0d0;
  color: white;
  font-weight: normal;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
}
.filter-grid a.active-filter i:before {
  color: #49a0bd;
}
.filter-grid i,
.filter-grid a:hover i {
  text-decoration: none;
}
.filter-grid i:before,
.filter-grid a:hover i:before {
  color: #777777;
}
.filter-grid li:first-child a {
  -moz-border-radius-topleft: 5em;
  -webkit-border-top-left-radius: 5em;
  border-top-left-radius: 5em;
  -moz-border-radius-bottomleft: 5em;
  -webkit-border-bottom-left-radius: 5em;
  border-bottom-left-radius: 5em;
}
.filter-grid input.app-grid-search {
  background: white url(../images/bg-icon-grid-search.png) no-repeat 96% 50%;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  height: 32px;
  line-height: 18px;
  padding: 6px 16px;
  width: 240px;
}
.filter-grid input.app-grid-search:focus {
  outline: none;
}
.filter-grid input.app-grid-search::-webkit-input-placeholder {
  color: #cacaca;
}
.filter-grid input.app-grid-search:-moz-placeholder {
  color: #cacaca;
}
.filter-grid input.app-grid-search:-ms-input-placeholder {
  color: #cacaca;
}
.condensed .filter-grid input.app-grid-search {
  right: 25px;
  top: 25px;
}
.filter-grid.filters-available input.app-grid-search {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

li.list-view .no-logo-available {
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: #aaaaaa;
  width: 100px;
  height: 50px;
  padding: 2px;
  display: inline-block;
  float: left;
  margin: 5px;
  text-align: center;
}

@media (min-width: 1300px) {
  .app-grid li.card-view {
    width: 24.8%;
  }
  .app-grid li.card-view:nth-child(3n) {
    border-right: 1px solid #e5e5e5;
  }
  .app-grid li.card-view:nth-child(4n) {
    border-right: none;
  }
}
@media (max-width: 1200px) {
  .app-grid li.card-view {
    width: 49.8%;
  }
  .app-grid li.card-view:nth-child(3n) {
    border-right: 1px solid #e5e5e5;
  }
  .app-grid li.card-view:nth-child(2n) {
    border-right: none;
  }
}
@media (max-width: 767px) {
  .app-grid-wrapper .column-left {
    float: none;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .app-grid-wrapper .column-left section {
    padding: 25px;
  }
  .app-grid-wrapper .column-left .secondary-menu {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding-top: 0;
    width: 100%;
  }
  .app-grid-wrapper .column-left .secondary-menu ul li {
    float: left;
    margin: 0;
  }
  .app-grid-wrapper .column-left .secondary-menu ul li:before {
    display: inline;
  }
  .app-grid-wrapper .column-left .secondary-menu ul li ul {
    display: inline;
  }
  .app-grid-wrapper .column-left .secondary-menu a {
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 5px 15px 25px;
  }
  .app-grid-wrapper .column-center {
    border-left: none;
    margin-left: 0;
    padding: 25px;
  }
  .app-grid-wrapper input.app-grid-search-2 {
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    width: 100%;
  }
  .app-grid-wrapper .search-grid-app-holder {
    margin: 40px 0px 0px 16px;
    padding: 0px 10px 0px 0px !important;
  }

  .filter-grid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
    position: static;
    width: 100%;
  }
  .filter-grid div {
    display: table;
    margin-bottom: 10px;
    width: 100%;
  }
  .filter-grid ul {
    display: table-row;
    float: none;
  }
  .filter-grid li {
    display: table-cell;
    float: none;
  }
  .filter-grid li:first-child a {
    border-width: 0 1px 1px 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-bottomleft: 0.75em;
    -webkit-border-bottom-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
  }
  .filter-grid li:last-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-bottomright: 0.75em;
    -webkit-border-bottom-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
  }
  .filter-grid a {
    border-width: 0 1px 1px 0;
    display: block;
    font-size: 0.85em;
  }

  .no-sticky-app-grid-wrapper-menu .hidden-phone {
    display: none;
  }

  .app-grid-holder {
    margin: -1px 0 !important;
    padding: 0 !important;
  }
  .app-grid-holder section {
    margin-bottom: 0;
    padding: 0 25px;
  }

  .app-grid {
    clear: both;
    margin: 0 -25px 25px;
    width: auto;
  }
  .app-grid li.list-view {
    min-height: 60px;
  }
  .app-grid li.list-view img {
    width: 60px;
  }
  .app-grid li.list-view p.connect-app {
    top: 34px;
    right: 0;
  }
  .app-grid li.list-view div.app-meta-cta {
    top: 35px;
    left: 70px;
  }
}
@media (max-width: 560px) {
  .app-grid li.card-view {
    border-right: none !important;
    width: 100%;
  }
  .app-grid li.list-view p.desc {
    display: none;
  }

  .app-grid-wrapper .facet-search {
    float: none;
    padding: 0 !important;
  }
}
@media (max-width: 440px) {
  .filter-grid {
    overflow: hidden;
  }
  .filter-grid div,
  .filter-grid div ul,
  .filter-grid div li {
    display: block;
    margin: 0;
  }
  .filter-grid div li a {
    border-width: 0 1px 1px 1px;
  }
  .filter-grid div li:first-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .filter-grid li:last-child a {
    -moz-border-radius-bottomleft: 0.75em;
    -webkit-border-bottom-left-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    -moz-border-radius-bottomright: 0.75em;
    -webkit-border-bottom-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
  }
}
