@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always;
}

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px;
}
p p,
p ul,
p ol,
p th,
p td,
p legend,
ul p,
ul ul,
ul ol,
ul th,
ul td,
ul legend,
ol p,
ol ul,
ol ol,
ol th,
ol td,
ol legend,
th p,
th ul,
th ol,
th th,
th td,
th legend,
td p,
td ul,
td ol,
td th,
td td,
td legend,
legend p,
legend ul,
legend ol,
legend th,
legend td,
legend legend {
  font-size: 1em;
}

li {
  line-height: 25px;
}

p,
ul,
ol,
.arp {
  margin-bottom: 25px;
}
p:last-child,
ul:last-child,
ol:last-child,
.arp:last-child {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.content h1 a,
.content h2 a,
.content h3 a {
  color: black;
}
.content li {
  line-height: 25px;
}

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover, a:focus {
  color: #070705;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.wrapper {
  clear: both;
  width: 100%;
}
.wrapper .content-holder .content {
  padding: 0;
}
.wrapper .side-content-holder section {
  margin-right: 50px;
}
.wrapper .side-content-holder section p {
  color: #7d7d7d;
}
.wrapper section {
  background: transparent;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.wrapper h1:first-child,
.wrapper h2:first-child,
.wrapper h3:first-child {
  margin-top: 0;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  color: black;
}
.wrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 1em 0 0.5em;
}
.wrapper h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper hr {
  border-top: 1px solid #e5e5e5;
  height: 0;
  margin: 25px 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.license-connect {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding: 1em 0;
}
.license-connect div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 45px;
  position: relative;
  width: 50%;
}
.license-connect div:before {
  background: url(../images/sprite-license-availability.png);
  content: "";
  height: 39px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 34px;
}
.license-connect .license-available,
.license-connect .license-not-available,
.license-connect .license-not-needed {
  padding-bottom: 5px;
}
.license-connect .license-available:before,
.license-connect .license-not-available:before,
.license-connect .license-not-needed:before {
  background: url(../images/sprite-license-availability.png);
}
.license-connect .license-available strong,
.license-connect .license-not-available strong,
.license-connect .license-not-needed strong {
  color: #00b274;
}
.license-connect .license-not-available:before {
  background-position: -35px 0;
}
.license-connect .license-not-available strong {
  color: #e31937;
}
.license-connect .license-not-needed:before {
  background-position: -70px 0;
}
.license-connect .license-not-needed strong {
  color: #666666;
}
.license-connect .service-connected,
.license-connect .service-not-connected {
  padding-left: 49px;
  padding-bottom: 5px;
}
.license-connect .service-connected:before,
.license-connect .service-not-connected:before {
  background: url(../images/sprite-service-connectivity.png);
  height: 35px;
  top: 7px;
  width: 39px;
}
.license-connect .service-connected strong,
.license-connect .service-not-connected strong {
  color: #00b274;
}
.license-connect .service-not-connected:before {
  background-position: -39px 0;
}
.license-connect .service-not-connected strong {
  color: #e31937;
}
.license-connect p {
  margin-bottom: 0;
}
.license-connect.narrow-license-connect div {
  width: 100%;
}
.license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 1.25em 0;
  padding: 1.25em 0;
}
.action-list a {
  background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.7em 50px 0.7em 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-list a[href^="mailto:"] {
  background: none;
}
.action-list a[href^="mailto:"]:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 0.5em;
}
.action-list.email-addresses {
  border-top: none;
  color: #7d7d7d;
  margin-top: -2.5em;
}

.application-logo {
  max-height: 120px;
  max-width: 200px;
}

.launch-icons {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  margin: 1.25em 0 0;
  padding-top: 1.25em;
}
.launch-icons li {
  padding: 0.5em 0;
}
.launch-icons .start-app, .launch-icons .recommend-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 170px;
  font-size: 1em;
}

.service-stats {
  margin: 0 0 17px 0;
  padding: 0;
  position: relative;
}
.service-stats:before {
  background: url(../images/sprite-secondary-menu.png);
  background-position: -40px -150px;
  content: "";
  height: 50px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  width: 30px;
}
.service-stats:hover:before, .service-stats:focus:before, .service-stats.active:before {
  background-position: 0 -150px;
}

.profile-attributes-js {
  position: relative;
}
.profile-attributes-js .attributes-main {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-attributes-js .attributes-main ul {
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 450px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 25px;
  width: 85%;
}
@media (max-width: 480px) {
  .profile-attributes-js .attributes-main ul {
    padding: 1em;
  }
}
.profile-attributes-js .attributes-main ul li {
  overflow: hidden;
}
.profile-attributes-js .attributes-main ul span {
  float: right;
  font-style: italic;
}
.profile-attributes-js .attributes-main ul .see-all {
  margin-top: 1.5em;
  text-align: right;
}
.profile-attributes-js .attributes-main ul .btn {
  margin-right: 0;
}

.alert-success {
  background-color: #dbf4eb;
  border-color: #00b274;
  color: #00b274;
}

.inlinehelp {
  margin-left: 10px;
}

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px;
}
footer .content-some-dense {
  padding: 0;
}
footer a {
  color: #999999;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover, footer a:focus {
  color: #070707;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px;
  }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em;
  }

  section {
    margin-right: 0 !important;
  }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .action-list li {
    max-width: 15em;
  }
  .action-list a:not(.service-stats) {
    padding: 0.3em 50px 0.3em 0;
  }

  footer {
    padding: 25px;
  }
}
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px;
  }

  .license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
    margin-bottom: 0.5em;
    padding-bottom: 2em;
  }

  .service-connected,
  .service-not-connected {
    padding-bottom: 20px;
  }
}
.form {
  background: transparent;
  border: none;
  max-width: 100%;
  padding-top: 0;
  width: 600px;
}

.form-horizontal .control-label {
  font-weight: bold;
  margin-left: 0;
  text-align: left;
  width: 33%;
}

.form-horizontal .controls {
  margin-left: 36%;
}

fieldset {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
}

.control-group label {
  font-size: 14px;
}
.control-group .error {
  color: #cc0000;
}

input.error {
  border-color: #cc0000;
}

p.error {
  color: #cc0000;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

textarea {
  resize: vertical;
}

.radio-group,
.checkbox-group {
  margin-bottom: 18px;
}
.radio-group legend,
.checkbox-group legend {
  border: none;
  float: left;
  font-size: inherit;
  line-height: 18px;
  margin-bottom: 0;
  margin-left: 14px;
  padding: 5px 0 0 0;
  text-align: left;
  width: 186px;
}
.radio-group .controls,
.checkbox-group .controls {
  margin-left: 220px;
}
.radio-group label,
.checkbox-group label {
  display: block;
  font-weight: normal;
  line-height: 18px;
  padding: 5px 0 0 0;
}
.radio-group label input,
.checkbox-group label input {
  margin-right: 2px;
  position: relative;
  top: -2px;
}
.radio-group.inline label,
.checkbox-group.inline label {
  display: inline-block;
  margin-right: 10px;
}

.btn {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6');
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background-size: 100% 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #070707;
  float: none;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 7px;
  overflow: hidden;
  padding: 8px 13px 9px;
  position: relative !important;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  vertical-align: top;
  zoom: 1;
}
.btn:hover, .btn:focus {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFF3F3F3');
  background-color: #f3f3f3;
  background-position: 0 0;
  color: black;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  outline: none;
}

.btn-primary {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6DC5E1', endColorstr='#FF56A3B7');
  background: #68c6de;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(104, 198, 222, 0)), color-stop(100%, rgba(104, 198, 222, 0.2))), #68c6de;
  background: -webkit-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: -moz-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: -o-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  border-color: #7db4c1 #4d97ab #408aa3 #4d97ab;
  color: white;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.btn-primary:hover, .btn-primary:focus {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF56A3B7', endColorstr='#FF56A3B7');
  background-color: #60bfda;
  color: white;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.btn-primary-alt {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEC9900', endColorstr='#FFDD9000');
  background: #ef9900;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 153, 0, 0)), color-stop(100%, rgba(155, 100, 3, 0.2))), #ef9900;
  background: -webkit-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -moz-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -o-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  border-color: #cb9a40 #b66600 #b55e00 #b66600;
  color: white;
}
.btn-primary-alt:hover, .btn-primary-alt:focus {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDD9000', endColorstr='#FFDD9000');
  background-color: #e08f01;
  color: white;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.btn-group {
  display: inline-block;
  margin-right: 7px;
}
.btn-group .btn {
  margin-right: 0;
}

.btn-small {
  font-size: 14px;
  padding: 4px 13px 5px;
}

.btn-modest {
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-shadow: none;
}

.actions {
  border-top: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 0 0;
  padding: 15px 0;
  width: 100%;
}
.actions .btn + a {
  margin-left: 0;
}

div.select2-narrow {
  width: 300px;
}

@media (max-width: 480px) {
  .form-horizontal .control-label {
    width: 100%;
  }

  .form-horizontal .controls {
    margin-left: 0;
  }
}
