@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always;
}

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px;
}
p p,
p ul,
p ol,
p th,
p td,
p legend,
ul p,
ul ul,
ul ol,
ul th,
ul td,
ul legend,
ol p,
ol ul,
ol ol,
ol th,
ol td,
ol legend,
th p,
th ul,
th ol,
th th,
th td,
th legend,
td p,
td ul,
td ol,
td th,
td td,
td legend,
legend p,
legend ul,
legend ol,
legend th,
legend td,
legend legend {
  font-size: 1em;
}

li {
  line-height: 25px;
}

p,
ul,
ol,
.arp {
  margin-bottom: 25px;
}
p:last-child,
ul:last-child,
ol:last-child,
.arp:last-child {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.content h1 a,
.content h2 a,
.content h3 a {
  color: black;
}
.content li {
  line-height: 25px;
}

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover, a:focus {
  color: #070705;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.wrapper {
  clear: both;
  width: 100%;
}
.wrapper .content-holder .content {
  padding: 0;
}
.wrapper .side-content-holder section {
  margin-right: 50px;
}
.wrapper .side-content-holder section p {
  color: #7d7d7d;
}
.wrapper section {
  background: transparent;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.wrapper h1:first-child,
.wrapper h2:first-child,
.wrapper h3:first-child {
  margin-top: 0;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  color: black;
}
.wrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 1em 0 0.5em;
}
.wrapper h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper hr {
  border-top: 1px solid #e5e5e5;
  height: 0;
  margin: 25px 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.license-connect {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding: 1em 0;
}
.license-connect div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 45px;
  position: relative;
  width: 50%;
}
.license-connect div:before {
  background: url(../images/sprite-license-availability.png);
  content: "";
  height: 39px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 34px;
}
.license-connect .license-available,
.license-connect .license-not-available,
.license-connect .license-not-needed {
  padding-bottom: 5px;
}
.license-connect .license-available:before,
.license-connect .license-not-available:before,
.license-connect .license-not-needed:before {
  background: url(../images/sprite-license-availability.png);
}
.license-connect .license-available strong,
.license-connect .license-not-available strong,
.license-connect .license-not-needed strong {
  color: #00b274;
}
.license-connect .license-not-available:before {
  background-position: -35px 0;
}
.license-connect .license-not-available strong {
  color: #e31937;
}
.license-connect .license-not-needed:before {
  background-position: -70px 0;
}
.license-connect .license-not-needed strong {
  color: #666666;
}
.license-connect .service-connected,
.license-connect .service-not-connected {
  padding-left: 49px;
  padding-bottom: 5px;
}
.license-connect .service-connected:before,
.license-connect .service-not-connected:before {
  background: url(../images/sprite-service-connectivity.png);
  height: 35px;
  top: 7px;
  width: 39px;
}
.license-connect .service-connected strong,
.license-connect .service-not-connected strong {
  color: #00b274;
}
.license-connect .service-not-connected:before {
  background-position: -39px 0;
}
.license-connect .service-not-connected strong {
  color: #e31937;
}
.license-connect p {
  margin-bottom: 0;
}
.license-connect.narrow-license-connect div {
  width: 100%;
}
.license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 1.25em 0;
  padding: 1.25em 0;
}
.action-list a {
  background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.7em 50px 0.7em 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-list a[href^="mailto:"] {
  background: none;
}
.action-list a[href^="mailto:"]:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 0.5em;
}
.action-list.email-addresses {
  border-top: none;
  color: #7d7d7d;
  margin-top: -2.5em;
}

.application-logo {
  max-height: 120px;
  max-width: 200px;
}

.launch-icons {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  margin: 1.25em 0 0;
  padding-top: 1.25em;
}
.launch-icons li {
  padding: 0.5em 0;
}
.launch-icons .start-app, .launch-icons .recommend-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 170px;
  font-size: 1em;
}

.service-stats {
  margin: 0 0 17px 0;
  padding: 0;
  position: relative;
}
.service-stats:before {
  background: url(../images/sprite-secondary-menu.png);
  background-position: -40px -150px;
  content: "";
  height: 50px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  width: 30px;
}
.service-stats:hover:before, .service-stats:focus:before, .service-stats.active:before {
  background-position: 0 -150px;
}

.profile-attributes-js {
  position: relative;
}
.profile-attributes-js .attributes-main {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-attributes-js .attributes-main ul {
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 450px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 25px;
  width: 85%;
}
@media (max-width: 480px) {
  .profile-attributes-js .attributes-main ul {
    padding: 1em;
  }
}
.profile-attributes-js .attributes-main ul li {
  overflow: hidden;
}
.profile-attributes-js .attributes-main ul span {
  float: right;
  font-style: italic;
}
.profile-attributes-js .attributes-main ul .see-all {
  margin-top: 1.5em;
  text-align: right;
}
.profile-attributes-js .attributes-main ul .btn {
  margin-right: 0;
}

.alert-success {
  background-color: #dbf4eb;
  border-color: #00b274;
  color: #00b274;
}

.inlinehelp {
  margin-left: 10px;
}

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px;
}
footer .content-some-dense {
  padding: 0;
}
footer a {
  color: #999999;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover, footer a:focus {
  color: #070707;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px;
  }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em;
  }

  section {
    margin-right: 0 !important;
  }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .action-list li {
    max-width: 15em;
  }
  .action-list a:not(.service-stats) {
    padding: 0.3em 50px 0.3em 0;
  }

  footer {
    padding: 25px;
  }
}
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px;
  }

  .license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
    margin-bottom: 0.5em;
    padding-bottom: 2em;
  }

  .service-connected,
  .service-not-connected {
    padding-bottom: 20px;
  }
}
.header {
  background: white url(../images/bg-header.png) no-repeat 50% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  min-height: 0;
  padding: 19px 30px 5px 50px;
  width: 100%;
}
body.js-loading .header {
  max-height: 74px;
}
.header .logo {
  float: left;
  margin: -15px;
  padding: 15px;
}
.header .logo:focus {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: 1px dashed #cccccc;
}
.header .primary-navigation {
  float: right;
}
body.js-loading .header .primary-navigation {
  visibility: hidden;
}
.header .primary-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}
.header .primary-navigation li {
  color: #626262;
  float: left;
  font-size: 14px;
  font-weight: 300;
  height: 26px;
  line-height: 26px;
  padding: 5px 20px;
  width: auto;
}
.header .primary-navigation li:first-child {
  border-left: none;
}
.header .primary-navigation li.identity-disclaimer {
  color: darkorange;
  font-size: 1.05em;
}
.header .primary-navigation a {
  height: auto;
  left: auto;
  position: static;
  top: auto;
  width: auto;
  text-decoration: none;
  color: #626262;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.header .primary-navigation a:hover, .header .primary-navigation a:focus {
  color: #52b2d2;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.header .primary-navigation .inbox span {
  color: #888888;
  font-size: 0.85em;
}
.header .primary-navigation .user a {
  color: #52b2d2;
  text-decoration: underline;
}
.header .primary-navigation .user a:hover, .header .primary-navigation .user a:focus {
  color: #626262;
}
.header .primary-navigation .role-switch {
  position: relative;
  width: 160px;
}
.header .primary-navigation .role-switch .user-dropdown {
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  left: 5px;
  padding: 0 8px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 99;
}
.header .primary-navigation .role-switch .user-dropdown:after {
  background: url(../images/select2.png) no-repeat 0 1px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  bottom: 0;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
.header .primary-navigation .role-switch .user-dropdown li {
  border-left: none;
  display: none;
  padding: 0;
  width: 180px;
}
.header .primary-navigation .role-switch .user-dropdown li.active {
  display: block;
}
.header .primary-navigation .role-switch .user-dropdown a {
  display: block;
  height: 26px;
  line-height: 26px;
}
.header .primary-navigation .role-switch:hover .user-dropdown {
  background: #cccccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(85%, #ffffff), color-stop(99%, #eeeeee));
  background: -webkit-linear-gradient(#ffffff 85%, #eeeeee 99%);
  background: -moz-linear-gradient(#ffffff 85%, #eeeeee 99%);
  background: -o-linear-gradient(#ffffff 85%, #eeeeee 99%);
  background: linear-gradient(#ffffff 85%, #eeeeee 99%);
}
.header .primary-navigation .role-switch:hover .user-dropdown:after {
  background: url(../images/select2.png) no-repeat 0 1px;
  border-left: none;
}
.header .primary-navigation .role-switch:hover li {
  display: block;
  height: 36px;
}
.header .primary-navigation .role-switch:hover li a {
  display: block;
  height: 36px;
}
.header .primary-navigation .role-switch:hover li:last-child {
  height: 26px;
}
.header .primary-navigation .role-switch:hover li:last-child a {
  height: 26px;
}
.header .primary-navigation .language div {
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #aaaaaa;
  display: inline-block;
  padding: 0 0.4em;
}
.header .primary-navigation .language div a,
.header .primary-navigation .language div span {
  color: #626262;
}
.header .primary-navigation .language div span {
  color: #4fb3cf;
}
.condensed .header .menu-trigger {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF68C6DE', endColorstr='#FF53B3D3');
  background: #68c6de;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68c6de), color-stop(100%, #53b3d3)), #68c6de;
  background: -webkit-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
  background: -moz-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
  background: -o-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
  background: linear-gradient(top, #68c6de, #53b3d3), #68c6de;
  border: 1px solid #4690a6;
  border-color: #7db4c1 #79b0bf #4690a6 #79b0bf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
  color: white;
  font-size: 16px;
  height: 19px;
  margin-left: 7px;
  overflow: hidden;
  padding: 8px 13px 9px;
  position: absolute !important;
  right: 25px;
  text-indent: -9999em;
  top: 17px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  width: 39px;
  zoom: 1;
}
.condensed .header .menu-trigger:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF56A3B7', endColorstr='#FF56A3B7');
  background-color: #56a3b7;
  color: white;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.condensed .header .menu-trigger:before {
  background: url(../images/user-dropdown.png);
  content: "";
  height: 19px;
  left: 13px;
  position: absolute;
  top: 8px;
  width: 39px;
}
.condensed .header .menu-respond-holder {
  background: white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 0 rgba(7, 7, 7, 0.15);
  position: absolute;
  right: 25px;
  top: 65px;
  width: 200px;
  z-index: 99;
}
.condensed .header .menu-respond-holder:before {
  border-bottom: 10px solid #e5e5e5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 0;
}
.condensed .header .menu-respond-holder:after {
  border-bottom: 7px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 12px;
  top: -7px;
  width: 0;
}
.condensed .header .menu-respond-holder .primary-navigation {
  float: none;
}
.condensed .header .menu-respond-holder li {
  border-bottom: 1px solid #e5e5e5;
  height: 26px;
  margin: 0 15px;
  padding: 15px 0;
  float: none;
}
.condensed .header .menu-respond-holder .role-switch {
  height: auto;
  width: 160px;
}
.condensed .header .menu-respond-holder .user-dropdown {
  background: transparent !important;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 8px;
  position: static;
}
.condensed .header .menu-respond-holder .user-dropdown:after {
  display: none;
}
.condensed .header .menu-respond-holder .user-dropdown li {
  border: none;
  display: block;
  height: auto;
  margin-left: 1em;
}
.condensed .header .menu-respond-holder .user-dropdown a {
  height: auto;
}
.condensed .header .menu-respond-holder .language a,
.condensed .header .menu-respond-holder .language span {
  padding: 0.3em;
}
