.wrapper {
    position: relative;
    width: 940px;
    margin: 5px auto 0;
}

header {
    min-height: 80px;
    margin-bottom: 25px;
}

footer {
    margin: 10px 0;
}

section {
    margin-bottom: 1em;
}

.content {
    padding: 20px;
}

.span3 .content {
    padding: 20px 10px;
}

.content-some-dense {
    padding: 10px 20px 10px 20px;
}

.content-dense {
    padding: 10px;
}

.user-box {
    position: absolute;
    top: 10px;
    right: 0;
    *width: 250px; /* IE7-only hack */
    min-width: 250px;
}

.actions {
    float: right;
    margin: 0 20px 20px 0;
}

