@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important; }

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always; }

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 30px; }

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px; }

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px; }

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px; }
  p p,
  p ul,
  p ol,
  p th,
  p td,
  p legend,
  ul p,
  ul ul,
  ul ol,
  ul th,
  ul td,
  ul legend,
  ol p,
  ol ul,
  ol ol,
  ol th,
  ol td,
  ol legend,
  th p,
  th ul,
  th ol,
  th th,
  th td,
  th legend,
  td p,
  td ul,
  td ol,
  td th,
  td td,
  td legend,
  legend p,
  legend ul,
  legend ol,
  legend th,
  legend td,
  legend legend {
    font-size: 1em; }

li {
  line-height: 25px; }

p,
ul,
ol,
.with-read-more {
  margin-bottom: 25px; }
  p:last-child,
  ul:last-child,
  ol:last-child,
  .with-read-more:last-child {
    margin-bottom: 0; }

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0; }
  .content h1 a,
  .content h2 a,
  .content h3 a {
    color: black; }
.content li {
  line-height: 25px; }

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }
  a:hover, a:focus {
    color: #070705;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

.wrapper {
  clear: both;
  width: 100%; }
  .wrapper .content-holder .content {
    padding: 0; }
  .wrapper .side-content-holder section {
    margin-right: 50px; }
    .wrapper .side-content-holder section p {
      color: #7d7d7d; }
  .wrapper section {
    background: transparent; }
  .wrapper h1,
  .wrapper h2,
  .wrapper h3 {
    background: transparent !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: black !important;
    padding: 0; }
    .wrapper h1:first-child,
    .wrapper h2:first-child,
    .wrapper h3:first-child {
      margin-top: 0; }
    .wrapper h1 a,
    .wrapper h2 a,
    .wrapper h3 a {
      color: black; }
  .wrapper h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 30px;
    margin: 1em 0 0.5em; }
  .wrapper h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    margin: 0.8em 0 0.2em; }
  .wrapper h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin: 0.8em 0 0.2em; }
  .wrapper hr {
    border-top: 1px solid #e5e5e5;
    height: 0;
    margin: 25px 0;
    overflow: hidden; }

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 2.5em 0;
  padding: 2.5em 0; }
  .action-list a {
    background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
    display: block;
    padding: 0.7em 50px 0.7em 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

.with-read-more .toggle-read-more:after {
  background: url(../images/bg-toggle-read-more.png) 0 -7px;
  content: "";
  display: inline-block;
  height: 7px;
  margin-left: 10px;
  width: 9px; }
.with-read-more.folded h1,
.with-read-more.folded h2,
.with-read-more.folded h3,
.with-read-more.folded h4,
.with-read-more.folded h5,
.with-read-more.folded h6,
.with-read-more.folded p,
.with-read-more.folded blockquote,
.with-read-more.folded pre {
  margin-bottom: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }
  .with-read-more.folded h1 + h1,
  .with-read-more.folded h1 + h2,
  .with-read-more.folded h1 + h3,
  .with-read-more.folded h1 + h4,
  .with-read-more.folded h1 + h5,
  .with-read-more.folded h1 + h6,
  .with-read-more.folded h1 + p,
  .with-read-more.folded h1 + blockquote,
  .with-read-more.folded h1 + pre,
  .with-read-more.folded h2 + h1,
  .with-read-more.folded h2 + h2,
  .with-read-more.folded h2 + h3,
  .with-read-more.folded h2 + h4,
  .with-read-more.folded h2 + h5,
  .with-read-more.folded h2 + h6,
  .with-read-more.folded h2 + p,
  .with-read-more.folded h2 + blockquote,
  .with-read-more.folded h2 + pre,
  .with-read-more.folded h3 + h1,
  .with-read-more.folded h3 + h2,
  .with-read-more.folded h3 + h3,
  .with-read-more.folded h3 + h4,
  .with-read-more.folded h3 + h5,
  .with-read-more.folded h3 + h6,
  .with-read-more.folded h3 + p,
  .with-read-more.folded h3 + blockquote,
  .with-read-more.folded h3 + pre,
  .with-read-more.folded h4 + h1,
  .with-read-more.folded h4 + h2,
  .with-read-more.folded h4 + h3,
  .with-read-more.folded h4 + h4,
  .with-read-more.folded h4 + h5,
  .with-read-more.folded h4 + h6,
  .with-read-more.folded h4 + p,
  .with-read-more.folded h4 + blockquote,
  .with-read-more.folded h4 + pre,
  .with-read-more.folded h5 + h1,
  .with-read-more.folded h5 + h2,
  .with-read-more.folded h5 + h3,
  .with-read-more.folded h5 + h4,
  .with-read-more.folded h5 + h5,
  .with-read-more.folded h5 + h6,
  .with-read-more.folded h5 + p,
  .with-read-more.folded h5 + blockquote,
  .with-read-more.folded h5 + pre,
  .with-read-more.folded h6 + h1,
  .with-read-more.folded h6 + h2,
  .with-read-more.folded h6 + h3,
  .with-read-more.folded h6 + h4,
  .with-read-more.folded h6 + h5,
  .with-read-more.folded h6 + h6,
  .with-read-more.folded h6 + p,
  .with-read-more.folded h6 + blockquote,
  .with-read-more.folded h6 + pre,
  .with-read-more.folded p + h1,
  .with-read-more.folded p + h2,
  .with-read-more.folded p + h3,
  .with-read-more.folded p + h4,
  .with-read-more.folded p + h5,
  .with-read-more.folded p + h6,
  .with-read-more.folded p + p,
  .with-read-more.folded p + blockquote,
  .with-read-more.folded p + pre,
  .with-read-more.folded blockquote + h1,
  .with-read-more.folded blockquote + h2,
  .with-read-more.folded blockquote + h3,
  .with-read-more.folded blockquote + h4,
  .with-read-more.folded blockquote + h5,
  .with-read-more.folded blockquote + h6,
  .with-read-more.folded blockquote + p,
  .with-read-more.folded blockquote + blockquote,
  .with-read-more.folded blockquote + pre,
  .with-read-more.folded pre + h1,
  .with-read-more.folded pre + h2,
  .with-read-more.folded pre + h3,
  .with-read-more.folded pre + h4,
  .with-read-more.folded pre + h5,
  .with-read-more.folded pre + h6,
  .with-read-more.folded pre + p,
  .with-read-more.folded pre + blockquote,
  .with-read-more.folded pre + pre {
    display: none; }
.with-read-more.folded .toggle-read-more:after {
  background-position: 0 0; }

[rel="tooltip"] {
  cursor: help; }

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px; }
  footer .content-some-dense {
    padding: 0; }
  footer a {
    color: #999999;
    -webkit-transition: color, 0.3s;
    -moz-transition: color, 0.3s;
    -o-transition: color, 0.3s;
    transition: color, 0.3s; }
    footer a:hover, footer a:focus {
      color: #070707;
      -webkit-transition: color, 0.3s;
      -moz-transition: color, 0.3s;
      -o-transition: color, 0.3s;
      transition: color, 0.3s; }

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px; }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px; }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px; }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em; }

  section {
    margin-right: 0 !important; }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0; }
    .action-list li {
      max-width: 15em; }
    .action-list a {
      padding: 0.3em 50px 0.3em 0; }

  footer {
    padding: 25px; } }
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px; } }
.has-left-right,
.has-left {
  overflow: hidden;
  width: 100%; }
  .has-left-right > div,
  .has-left > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .has-left-right .column-left,
  .has-left .column-left {
    display: inline;
    float: left;
    padding: 50px 50px 0 50px;
    width: 260px; }
  .has-left-right .column-center,
  .has-left .column-center {
    border: 1px solid #e5e5e5;
    border-width: 0 1px;
    margin: 0 300px 0 260px;
    padding: 43px 50px 50px; }
  .has-left-right .column-right,
  .has-left .column-right {
    display: inline;
    float: right;
    padding-top: 50px;
    width: 250px; }
  .has-left-right.narrow .column-center,
  .has-left.narrow .column-center {
    border-right: none;
    margin-right: 0;
    padding: 50px; }
  .has-left-right.narrow .column-right,
  .has-left.narrow .column-right {
    border-left: 1px solid #e5e5e5;
    border-top: none;
    display: block;
    float: none;
    margin: 0 0 0 260px;
    padding: 0 0 50px 50px;
    width: auto; }
    .has-left-right.narrow .column-right > section,
    .has-left.narrow .column-right > section {
      border-top: none;
      padding-top: 2em; }
  .condensed .has-left-right, .condensed
  .has-left {
    margin: 0; }
    .condensed .has-left-right .column-left, .condensed
    .has-left .column-left {
      float: none;
      padding: 0;
      width: 100%; }
    .condensed .has-left-right .column-center, .condensed
    .has-left .column-center {
      border-left: none;
      margin-left: 0;
      padding: 25px; }
    .condensed .has-left-right.narrow .column-right, .condensed
    .has-left.narrow .column-right {
      border: none;
      margin-left: 0;
      padding: 0 25px; }
      .condensed .has-left-right.narrow .column-right section, .condensed
      .has-left.narrow .column-right section {
        padding-top: 0; }
        .condensed .has-left-right.narrow .column-right section p, .condensed
        .has-left.narrow .column-right section p {
          margin-bottom: 0; }
          .condensed .has-left-right.narrow .column-right section p:last-child, .condensed
          .has-left.narrow .column-right section p:last-child {
            margin-bottom: 1.5em; }

.has-left .column-center {
  border-right: none;
  margin-right: 0; }

@media (max-width: 767px) {
  .has-left .column-left,
  .has-left-right .column-left {
    float: none;
    overflow: hidden;
    padding: 0;
    width: 100%; }
    .has-left .column-left section,
    .has-left-right .column-left section {
      padding: 25px; }
  .has-left .column-center,
  .has-left-right .column-center {
    border-left: none;
    margin-left: 0;
    padding: 25px; } }
.form {
  background: transparent;
  border: none;
  max-width: 100%;
  padding-top: 0;
  width: 600px; }

.form-horizontal .control-label {
  font-weight: bold;
  margin-left: 0;
  text-align: left;
  width: 33%; }

.form-horizontal .controls {
  margin-left: 36%; }

fieldset {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s; }

textarea {
  resize: vertical; }

.radio-group,
.checkbox-group {
  margin-bottom: 18px; }
  .radio-group legend,
  .checkbox-group legend {
    border: none;
    float: left;
    font-size: inherit;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 14px;
    padding: 5px 0 0 0;
    text-align: left;
    width: 186px; }
  .radio-group .controls,
  .checkbox-group .controls {
    margin-left: 220px; }
  .radio-group label,
  .checkbox-group label {
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 5px 0 0 0; }
    .radio-group label input,
    .checkbox-group label input {
      margin-right: 2px;
      position: relative;
      top: -2px; }
  .radio-group.inline label,
  .checkbox-group.inline label {
    display: inline-block;
    margin-right: 10px; }

.btn {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6');
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background-size: 100% 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #070707;
  float: none;
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 7px;
  overflow: hidden;
  padding: 8px 13px 9px;
  position: relative !important;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  vertical-align: top;
  zoom: 1; }
  .btn:hover, .btn:focus {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFF3F3F3');
    background-color: #f3f3f3;
    background-position: 0 0;
    color: black;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    outline: none; }

.btn-primary {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6DC5E1', endColorstr='#FF56A3B7');
  background: #68c6de;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(104, 198, 222, 0)), color-stop(100%, rgba(104, 198, 222, 0.2))), #68c6de;
  background: -webkit-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: -moz-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: -o-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  background: linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.2)), #68c6de;
  border-color: #7db4c1 #4d97ab #408aa3 #4d97ab;
  color: white;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s; }
  .btn-primary:hover, .btn-primary:focus {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF56A3B7', endColorstr='#FF56A3B7');
    background-color: #60bfda;
    color: white;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s; }

.btn-primary-alt {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEC9900', endColorstr='#FFDD9000');
  background: #ef9900;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 153, 0, 0)), color-stop(100%, rgba(155, 100, 3, 0.2))), #ef9900;
  background: -webkit-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -moz-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -o-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  border-color: #cb9a40 #b66600 #b55e00 #b66600;
  color: white; }
  .btn-primary-alt:hover, .btn-primary-alt:focus {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDD9000', endColorstr='#FFDD9000');
    background-color: #e08f01;
    color: white;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s; }

.btn-group {
  display: inline-block;
  margin-right: 7px; }
  .btn-group .btn {
    margin-right: 0; }

.btn-small {
  font-size: 14px;
  padding: 4px 13px 5px; }

.actions {
  border-top: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 0 0;
  padding: 15px 0;
  width: 100%; }
  .actions .btn + a {
    margin-left: 0; }

@media (max-width: 480px) {
  .form-horizontal .control-label {
    width: 100%; }

  .form-horizontal .controls {
    margin-left: 0; } }
.header {
  background: white url(../images/bg-header.png) no-repeat 50% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 0;
  min-height: 0;
  padding: 19px 30px 19px 50px;
  width: 100%; }
  body.js-loading .header {
    max-height: 74px; }
  .header a {
    height: auto;
    left: auto;
    position: static;
    top: auto;
    width: auto; }
  .header .logo {
    float: left;
    margin: -15px;
    padding: 15px; }
    .header .logo:focus {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      outline: 1px dashed #cccccc; }
  .header nav {
    float: right;
    visibility: visible;
    width: auto; }
    body.js-loading .header nav {
      visibility: hidden; }
    .header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto; }
    .header nav li {
      border-left: 1px solid #e5e5e5;
      color: #626262;
      float: left;
      font-size: 14px;
      font-weight: 300;
      height: 26px;
      line-height: 26px;
      padding: 5px 20px;
      width: auto; }
      .header nav li:first-child {
        border-left: none; }
    .header nav a {
      color: #626262;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      .header nav a:hover, .header nav a:focus {
        color: #333333;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
    .header nav .user a {
      color: #52b2d2;
      text-decoration: underline; }
      .header nav .user a:hover, .header nav .user a:focus {
        color: #626262; }
    .header nav .role-switch {
      position: relative;
      width: 130px; }
      .header nav .role-switch .user-dropdown {
        background: white;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
        background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        left: 5px;
        padding: 0 8px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 99; }
        .header nav .role-switch .user-dropdown:after {
          background: url(../images/select2.png) no-repeat 0 1px;
          -moz-border-radius-topright: 4px;
          -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
          -moz-border-radius-bottomright: 4px;
          -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
          bottom: 0;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 18px; }
        .header nav .role-switch .user-dropdown li {
          border-left: none;
          display: none;
          padding: 0; }
          .header nav .role-switch .user-dropdown li.active {
            display: block; }
        .header nav .role-switch .user-dropdown a {
          display: block;
          height: 26px;
          line-height: 26px; }
      .header nav .role-switch:hover .user-dropdown {
        background: #cccccc;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(85%, #ffffff), color-stop(99%, #eeeeee));
        background: -webkit-linear-gradient(#ffffff 85%, #eeeeee 99%);
        background: -moz-linear-gradient(#ffffff 85%, #eeeeee 99%);
        background: -o-linear-gradient(#ffffff 85%, #eeeeee 99%);
        background: linear-gradient(#ffffff 85%, #eeeeee 99%); }
        .header nav .role-switch:hover .user-dropdown:after {
          background: url(../images/select2.png) no-repeat 0 1px;
          border-left: none; }
      .header nav .role-switch:hover li {
        display: block;
        height: 36px; }
        .header nav .role-switch:hover li a {
          display: block;
          height: 36px; }
        .header nav .role-switch:hover li:last-child {
          height: 26px; }
          .header nav .role-switch:hover li:last-child a {
            height: 26px; }
    .header nav .configuration:before,
    .header nav .logout:before {
      color: #7e7e7e;
      font-family: FontAwesome;
      margin-right: 10px; }
    .header nav .configuration:before {
      content: "\f013"; }
    .header nav .logout:before {
      content: "\f045"; }
  .condensed .header .menu-trigger {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF68C6DE', endColorstr='#FF53B3D3');
    background: #68c6de;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68c6de), color-stop(100%, #53b3d3)), #68c6de;
    background: -webkit-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
    background: -moz-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
    background: -o-linear-gradient(top, #68c6de, #53b3d3), #68c6de;
    background: linear-gradient(top, #68c6de, #53b3d3), #68c6de;
    border: 1px solid #4690a6;
    border-color: #7db4c1 #79b0bf #4690a6 #79b0bf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.04706) 0px 1px 2px 0px;
    color: white;
    font-size: 16px;
    height: 19px;
    margin-left: 7px;
    overflow: hidden;
    padding: 8px 13px 9px;
    position: absolute !important;
    right: 25px;
    text-indent: -9999em;
    top: 17px;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    width: 39px;
    zoom: 1; }
    .condensed .header .menu-trigger:hover {
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF56A3B7', endColorstr='#FF56A3B7');
      background-color: #56a3b7;
      color: white;
      -webkit-transition: background-color 0.2s, color 0.2s;
      -moz-transition: background-color 0.2s, color 0.2s;
      -o-transition: background-color 0.2s, color 0.2s;
      transition: background-color 0.2s, color 0.2s; }
    .condensed .header .menu-trigger:before {
      background: url(../images/user-dropdown.png);
      content: "";
      height: 19px;
      left: 13px;
      position: absolute;
      top: 8px;
      width: 39px; }
  .condensed .header .menu-respond-holder {
    background: white;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 0 rgba(7, 7, 7, 0.15);
    position: absolute;
    right: 25px;
    top: 65px;
    width: 200px;
    z-index: 99; }
    .condensed .header .menu-respond-holder:before {
      border-bottom: 10px solid #e5e5e5;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: 10px;
      top: -10px;
      width: 0; }
    .condensed .header .menu-respond-holder:after {
      border-bottom: 7px solid white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: 12px;
      top: -7px;
      width: 0; }
    .condensed .header .menu-respond-holder li {
      border-bottom: 1px solid #e5e5e5;
      height: 26px;
      margin: 0 15px;
      padding: 15px 0; }
    .condensed .header .menu-respond-holder .role-switch {
      height: auto;
      width: auto; }
    .condensed .header .menu-respond-holder .user-dropdown {
      background: transparent !important;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      padding: 0 8px;
      position: static; }
      .condensed .header .menu-respond-holder .user-dropdown:after {
        display: none; }
      .condensed .header .menu-respond-holder .user-dropdown li {
        border: none;
        display: block;
        height: auto;
        margin-left: 1em; }
      .condensed .header .menu-respond-holder .user-dropdown a {
        height: auto; }

@media (max-width: 767px) {
  .header {
    float: left;
    margin: 0;
    padding: 19px 5px 19px 25px;
    width: 100%; }
    .header nav {
      width: 100%; }
      .header nav li {
        border-left: none;
        float: none;
        height: auto;
        padding: 5px 0; } }
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu .header {
    float: left;
    margin: 0;
    padding: 19px 5px 19px 25px;
    width: 100%; } }
.secondary-menu {
  margin: -50px 0 0;
  padding-top: 50px;
  top: 0;
  width: 100%; }
  .secondary-menu.sticky {
    left: 50px;
    position: fixed;
    top: 50px;
    width: 160px;
    z-index: 9999; }
    .condensed .secondary-menu.sticky {
      background: white;
      left: 0;
      right: 0;
      top: 0;
      width: 100%; }
  .secondary-menu ul {
    margin: 0;
    list-style: none; }
  .secondary-menu > ul > li {
    margin: 0 0 17px 0;
    padding: 0;
    position: relative; }
    .secondary-menu > ul > li:before {
      background: url(../images/sprite-secondary-menu.png);
      background-position: 0 0;
      content: "";
      height: 50px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: -12px;
      width: 30px; }
    .secondary-menu > ul > li:hover:before, .secondary-menu > ul > li:focus:before, .secondary-menu > ul > li.active:before {
      background-position: -40px 0; }
    .secondary-menu > ul > li.groups:before {
      background-position: 0 -50px; }
    .secondary-menu > ul > li.groups:hover:before, .secondary-menu > ul > li.groups:focus:before, .secondary-menu > ul > li.groups.active:before {
      background-position: -40px -50px; }
    .secondary-menu > ul > li.requests:before {
      background-position: 0 -100px; }
    .secondary-menu > ul > li.requests:hover:before, .secondary-menu > ul > li.requests:focus:before, .secondary-menu > ul > li.requests.active:before {
      background-position: -40px -100px; }
    .secondary-menu > ul > li.stats:before {
      background-position: 0 -150px; }
    .secondary-menu > ul > li.stats:hover:before, .secondary-menu > ul > li.stats:focus:before, .secondary-menu > ul > li.stats.active:before {
      background-position: -40px -150px; }
    .secondary-menu > ul > li.profile:before {
      background-position: 0 -200px; }
    .secondary-menu > ul > li.profile:hover:before, .secondary-menu > ul > li.profile:focus:before, .secondary-menu > ul > li.profile.active:before {
      background-position: -40px -200px; }
    .secondary-menu > ul > li.actions {
      float: none; }
  .secondary-menu a {
    color: #7f7f7f;
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.06em;
    padding: 4px 0 4px 40px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    .secondary-menu a:hover, .secondary-menu a:focus {
      color: #4fb3cf;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      outline: none; }
  .secondary-menu .active > a {
    color: #4fb3cf; }
  .secondary-menu li {
    line-height: 18px; }
  .secondary-menu ul ul li {
    padding: 0; }
  .secondary-menu ul ul a {
    color: #626262;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 4px 0 0 40px; }

@media (max-width: 767px) {
  .secondary-menu {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding-top: 0;
    width: 100%; }
    .secondary-menu ul li {
      float: left;
      margin: 0; }
      .secondary-menu ul li:before {
        display: none; }
      .secondary-menu ul li ul {
        display: none; }
    .secondary-menu a {
      display: block;
      font-size: 14px;
      font-weight: normal;
      padding: 15px 5px 15px 25px; } }
.data-table-holder {
  position: relative; }

.data-table-wrapper {
  overflow: auto;
  width: 100%; }
  .data-table-wrapper .table {
    min-width: 700px; }

.table,
.table-bordered,
.table-striped {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: #e1e1e1;
  margin: 1em 0; }
  .table th,
  .table-bordered th,
  .table-striped th {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
    background: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2)), white;
    background: -webkit-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: -moz-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: -o-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: linear-gradient(top, #ffffff, #f2f2f2), white;
    border-bottom-color: #e1e1e1;
    border-left: none;
    border-right: none;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    height: auto; }
    .table th a,
    .table-bordered th a,
    .table-striped th a {
      color: #666666; }
  .table td,
  .table-bordered td,
  .table-striped td {
    background: white;
    border-bottom-color: #e1e1e1;
    border-left: none;
    border-right: none;
    color: black;
    padding: 10px 8px; }
  .table tr:nth-child(even) td,
  .table-bordered tr:nth-child(even) td,
  .table-striped tr:nth-child(even) td {
    background: #f8f8f8 !important; }

.table-sortable {
  margin-top: 2.25em; }
  .table-sortable thead .sorting,
  .table-sortable thead .sorting_asc,
  .table-sortable thead .sorting_desc {
    cursor: pointer; }
    .table-sortable thead .sorting:focus,
    .table-sortable thead .sorting_asc:focus,
    .table-sortable thead .sorting_desc:focus {
      color: #070707;
      outline: none;
      text-decoration: underline; }
    .table-sortable thead .sorting:after,
    .table-sortable thead .sorting_asc:after,
    .table-sortable thead .sorting_desc:after {
      background: url(../images/bg-toggle-read-more.png) 0 0;
      bottom: 2px;
      content: "";
      display: inline-block;
      height: 7px;
      margin-left: 10px;
      position: relative;
      vertical-align: middle;
      width: 9px; }
  .table-sortable thead .sorting_desc:after {
    background-position: 0 -7px; }

.table-discussion td {
  border-left: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 270px;
  padding: 25px; }
  .table-discussion td:first-child {
    border-left: none; }
  .table-discussion td time {
    color: #666666; }
  .table-discussion td label {
    font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
    font-size: 20px;
    font-smooth: always;
    font-weight: normal;
    line-height: 25px; }
  .table-discussion td textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    height: 10em;
    resize: vertical;
    width: 100%; }

.dataTables_empty {
  font-style: italic; }

.dataTables_filter input {
  background: white url(../images/bg-icon-grid-search.png) no-repeat 96% 50%;
  border-radius: 5em;
  height: auto;
  padding: 6px 16px;
  position: absolute;
  right: 0;
  top: 0; }

.table-with-statuses .new:before,
.table-with-statuses .in-progress:before,
.table-with-statuses .handled:before,
.table-with-statuses .denied:before {
  background: url(../images/sprite-icons-statuses.png);
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  width: 23px; }
.table-with-statuses .denied:before {
  background-position: 0 -18px; }
.table-with-statuses .handled:before {
  background-position: 0 -36px; }
.table-with-statuses .in-progress:before {
  background-position: 0 -54px; }

.table.narrow {
  display: block;
  min-width: 0;
  width: 100%; }
  .table.narrow thead,
  .table.narrow tbody,
  .table.narrow th,
  .table.narrow td,
  .table.narrow tr {
    display: block; }
  .table.narrow thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px; }
  .table.narrow tr {
    border: 1px solid #e5e5e5;
    border-width: 1px 0; }
  .table.narrow td {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 40%;
    position: relative; }
    .table.narrow td:before {
      content: attr(data-title);
      left: 8px;
      padding-right: 10px;
      position: absolute;
      top: 10px;
      white-space: nowrap;
      width: 55%; }

@media (max-width: 767px) {
  .dataTables_filter input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    position: static;
    width: 100%; } }
@media (max-width: 600px), (max-width: 1000px) and (min-width: 767px) {
  .table-discussion {
    min-width: 0; }
    .table-discussion tr,
    .table-discussion td {
      border: none;
      display: block; }
    .table-discussion td,
    .table-discussion th {
      background: transparent !important;
      padding: 15px 0 5px; }
      .table-discussion td + td, .table-discussion td + th,
      .table-discussion th + td,
      .table-discussion th + th {
        padding: 0 0 15px; }
      .table-discussion td:nth-child(even),
      .table-discussion th:nth-child(even) {
        border-bottom: 1px solid #e5e5e5; }

  .table-discussion.table-striped tbody tr:nth-child(even) td {
    background: transparent !important; } }
@media (max-width: 767px) and (min-width: 600px) {
  .table-discussion td,
  .table-discussion th {
    min-width: 200px; } }
.pagination {
  background: transparent;
  border: none;
  margin: 1em 0; }
  .pagination ul li a {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
    background: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background-size: 100% 100%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-left: 7px;
    overflow: hidden;
    padding: 5px 8px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .pagination ul li a:hover, .pagination ul li a:focus {
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFF3F3F3');
      background-color: #f3f3f3;
      background-position: 0 0;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
  .pagination ul li.active a {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF67C6DD', endColorstr='#FF53B3D3');
    background: #67c6dd;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67c6dd), color-stop(100%, #53b3d3)), #67c6dd;
    background: -webkit-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: -moz-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: -o-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    border-color: #4993a8;
    color: white; }
  .pagination ul li.active a, .pagination ul li.disabled {
    pointer-events: none; }
  .pagination ul li:first-child a, .pagination ul li:last-child a {
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
    background: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background-size: 100% 100%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-left: 7px;
    overflow: hidden;
    padding: 5px 8px;
    position: relative;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .pagination ul li:first-child a:hover, .pagination ul li:last-child a:hover {
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFF3F3F3');
      background-color: #f3f3f3;
      background-position: 0 0;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
  .pagination ul li:first-child a::before {
    background: url(../images/bg-pagination-prev.png);
    content: "";
    display: inline;
    display: inline-block;
    height: 8px;
    left: -6px;
    position: relative;
    width: 15px;
    zoom: 1; }
  .pagination ul li:last-child a::after {
    background: url(../images/bg-pagination-next.png);
    content: "";
    display: inline;
    display: inline-block;
    height: 8px;
    left: 6px;
    position: relative;
    width: 15px; }
  .pagination ul li.disabled a {
    background-color: #eeeeee; }

.modal-header {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4FB3CF', endColorstr='#FF4294AB');
  background: #4fb3cf;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb3cf), color-stop(100%, #4294ab)), #4fb3cf;
  background: -webkit-linear-gradient(top, #4fb3cf, #4294ab), #4fb3cf;
  background: -moz-linear-gradient(top, #4fb3cf, #4294ab), #4fb3cf;
  background: -o-linear-gradient(top, #4fb3cf, #4294ab), #4fb3cf;
  background: linear-gradient(top, #4fb3cf, #4294ab), #4fb3cf; }
  .modal-header h1,
  .modal-header h2,
  .modal-header h3 {
    color: white; }

.app-grid-holder {
  position: relative; }

.app-grid {
  background: url(../images/bg-app-grid.png) repeat-x 0 100%;
  border-top: 1px solid #e5e5e5;
  margin: 25px 0;
  overflow: hidden;
  width: 100%; }
  .app-grid.app-grid-js li {
    cursor: pointer;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s; }
    .app-grid.app-grid-js li:hover {
      background: #f2f2f2;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      transition: background-color 0.3s; }
  .app-grid li {
    border: 1px solid #e5e5e5;
    border-width: 0 1px 1px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 127px;
    overflow: hidden;
    padding: 22px 20px 22px 114px;
    position: relative;
    width: 33%; }
    .app-grid li:nth-child(3n) {
      border-right: none; }
    .app-grid li.hide {
      display: none; }
    .app-grid li h2 {
      font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .app-grid li h2 a {
        color: black;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none; }
        .app-grid li h2 a:hover, .app-grid li h2 a:focus {
          color: #4fb3cf;
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none; }
    .app-grid li p.desc {
      height: 25px;
      line-height: 25px;
      margin-bottom: 0.25em;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      width: 100%; }
    .app-grid li img {
      height: 73px;
      left: 22px;
      position: absolute;
      top: 22px;
      width: 73px; }
    .app-grid li .open-app a {
      *zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
      background: white;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
      background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
      background-size: 100% 100%;
      border: 1px solid lightgrey;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      color: #666666;
      display: inline;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 14px;
      line-height: 14px;
      overflow: hidden;
      padding: 4px 6px;
      position: relative;
      text-transform: uppercase;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      zoom: 1; }
      .app-grid li .open-app a:hover {
        *zoom: 1;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEC9900', endColorstr='#FFDD9000');
        background: #ef9900;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 153, 0, 0)), color-stop(100%, rgba(155, 100, 3, 0.2))), #ef9900;
        background: -webkit-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
        background: -moz-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
        background: -o-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
        background: linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
        border-color: #cb9a40 #b66600 #b55e00 #b66600;
        color: white;
        text-decoration: none; }
      .app-grid li .open-app a:after {
        background: url(../images/bg-open-app.png);
        content: "";
        display: inline;
        display: inline-block;
        height: 8px;
        left: 6px;
        position: relative;
        width: 15px; }

input.app-grid-search {
  background: white url(../images/bg-icon-grid-search.png) no-repeat 96% 50%;
  border-radius: 5em;
  height: auto;
  padding: 6px 16px;
  position: absolute;
  right: 50px;
  top: 50px; }
  input.app-grid-search:focus {
    outline: none; }
  input.app-grid-search::-webkit-input-placeholder {
    color: #cacaca; }
  input.app-grid-search:-moz-placeholder {
    color: #cacaca; }
  input.app-grid-search:-ms-input-placeholder {
    color: #cacaca; }
  .condensed input.app-grid-search {
    right: 25px;
    top: 25px; }

@media (min-width: 1300px) {
  .app-grid li {
    width: 25%; }
    .app-grid li:nth-child(3n) {
      border-right: 1px solid #e5e5e5; }
    .app-grid li:nth-child(4n) {
      border-right: none; } }
@media (max-width: 1200px) {
  .app-grid li {
    width: 50%; }
    .app-grid li:nth-child(3n) {
      border-right: 1px solid #e5e5e5; }
    .app-grid li:nth-child(2n) {
      border-right: none; } }
@media (max-width: 950px) {
  .app-grid-wrapper .column-left {
    float: none;
    overflow: hidden;
    padding: 0;
    width: 100%; }
    .app-grid-wrapper .column-left section {
      padding: 25px; }
    .app-grid-wrapper .column-left .secondary-menu {
      border-bottom: 1px solid #e5e5e5;
      margin: 0;
      max-width: 100%;
      min-width: 100%;
      overflow: hidden;
      padding-top: 0;
      width: 100%; }
      .app-grid-wrapper .column-left .secondary-menu ul li {
        float: left;
        margin: 0; }
        .app-grid-wrapper .column-left .secondary-menu ul li:before {
          display: none; }
        .app-grid-wrapper .column-left .secondary-menu ul li ul {
          display: none; }
      .app-grid-wrapper .column-left .secondary-menu a {
        display: block;
        font-size: 14px;
        font-weight: normal;
        padding: 15px 5px 15px 25px; }
  .app-grid-wrapper .column-center {
    border-left: none;
    margin-left: 0;
    padding: 25px; }

  input.app-grid-search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
    position: static;
    width: 100%; }

  .no-sticky-app-grid-wrapper-menu .hidden-phone {
    display: none; }

  .app-grid-holder {
    margin: -1px 0 !important;
    padding: 0 !important; }
    .app-grid-holder section {
      margin-bottom: 0;
      padding: 0 25px; }

  .app-grid {
    margin: 0 -25px 25px;
    width: auto; } }
@media (max-width: 560px) {
  .app-grid li {
    border-right: none !important;
    width: 100%; } }
.gallery-holder {
  margin: 1.5em 0;
  max-width: 600px;
  width: 100%; }
  .gallery-holder ul {
    background: lienar-gradient(#e5e5e5, #e5e5e5);
    clear: both;
    list-style: none;
    margin: 0 -9px; }
    .gallery-holder ul li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-bottom: 13px;
      max-width: 150px;
      padding: 5px 9px 0;
      width: 25%; }
      .gallery-holder ul li a {
        -webkit-box-shadow: 0 0 0.4em #aaaaaa;
        -moz-box-shadow: 0 0 0.4em #aaaaaa;
        box-shadow: 0 0 0.4em #aaaaaa;
        display: block;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -ms-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        box-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        box-align: center;
        height: auto;
        -webkit-transition: box-shadow 2s;
        -moz-transition: box-shadow 2s;
        -o-transition: box-shadow 2s;
        transition: box-shadow 2s;
        width: 100%; }
        .gallery-holder ul li a:hover {
          -webkit-box-shadow: 0 0 0.6em #4fb3cf;
          -moz-box-shadow: 0 0 0.6em #4fb3cf;
          box-shadow: 0 0 0.6em #4fb3cf;
          -webkit-transition: box-shadow 0.5s;
          -moz-transition: box-shadow 0.5s;
          -o-transition: box-shadow 0.5s;
          transition: box-shadow 0.5s; }

.gallery-holder-js {
  overflow: hidden;
  margin: -1em;
  padding: 1em; }
  .gallery-holder-js .large-image {
    margin: 0; }
    .gallery-holder-js .large-image img {
      border: none;
      -webkit-box-shadow: 0 0 0.4em #aaaaaa;
      -moz-box-shadow: 0 0 0.4em #aaaaaa;
      box-shadow: 0 0 0.4em #aaaaaa;
      margin: 5px 0 20px;
      max-width: 700px;
      width: 100%; }
  .gallery-holder-js ul {
    padding: 0;
    text-align: center; }
    .gallery-holder-js ul li {
      display: inline;
      display: inline-block;
      float: none !important;
      zoom: 1; }
    .gallery-holder-js ul li:first-child:nth-last-child(n + 2),
    .gallery-holder-js ul li:first-child:nth-last-child(n + 2) ~ li {
      width: 50%; }
    .gallery-holder-js ul li:first-child:nth-last-child(n + 3),
    .gallery-holder-js ul li:first-child:nth-last-child(n + 3) ~ li {
      width: 33%; }
    .gallery-holder-js ul li:first-child:nth-last-child(n + 4),
    .gallery-holder-js ul li:first-child:nth-last-child(n + 4) ~ li {
      width: 25%; }

.gallery-holder.narrow-gallery ul li:first-child:nth-last-child(n + 4),
.gallery-holder.narrow-gallery ul li:first-child:nth-last-child(n + 4) ~ li {
  width: 50%; }
