@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always;
}

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px;
}
p p,
p ul,
p ol,
p th,
p td,
p legend,
ul p,
ul ul,
ul ol,
ul th,
ul td,
ul legend,
ol p,
ol ul,
ol ol,
ol th,
ol td,
ol legend,
th p,
th ul,
th ol,
th th,
th td,
th legend,
td p,
td ul,
td ol,
td th,
td td,
td legend,
legend p,
legend ul,
legend ol,
legend th,
legend td,
legend legend {
  font-size: 1em;
}

li {
  line-height: 25px;
}

p,
ul,
ol,
.arp {
  margin-bottom: 25px;
}
p:last-child,
ul:last-child,
ol:last-child,
.arp:last-child {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.content h1 a,
.content h2 a,
.content h3 a {
  color: black;
}
.content li {
  line-height: 25px;
}

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover, a:focus {
  color: #070705;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.wrapper {
  clear: both;
  width: 100%;
}
.wrapper .content-holder .content {
  padding: 0;
}
.wrapper .side-content-holder section {
  margin-right: 50px;
}
.wrapper .side-content-holder section p {
  color: #7d7d7d;
}
.wrapper section {
  background: transparent;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.wrapper h1:first-child,
.wrapper h2:first-child,
.wrapper h3:first-child {
  margin-top: 0;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  color: black;
}
.wrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 1em 0 0.5em;
}
.wrapper h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper hr {
  border-top: 1px solid #e5e5e5;
  height: 0;
  margin: 25px 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.license-connect {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding: 1em 0;
}
.license-connect div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 45px;
  position: relative;
  width: 50%;
}
.license-connect div:before {
  background: url(../images/sprite-license-availability.png);
  content: "";
  height: 39px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 34px;
}
.license-connect .license-available,
.license-connect .license-not-available,
.license-connect .license-not-needed {
  padding-bottom: 5px;
}
.license-connect .license-available:before,
.license-connect .license-not-available:before,
.license-connect .license-not-needed:before {
  background: url(../images/sprite-license-availability.png);
}
.license-connect .license-available strong,
.license-connect .license-not-available strong,
.license-connect .license-not-needed strong {
  color: #00b274;
}
.license-connect .license-not-available:before {
  background-position: -35px 0;
}
.license-connect .license-not-available strong {
  color: #e31937;
}
.license-connect .license-not-needed:before {
  background-position: -70px 0;
}
.license-connect .license-not-needed strong {
  color: #666666;
}
.license-connect .service-connected,
.license-connect .service-not-connected {
  padding-left: 49px;
  padding-bottom: 5px;
}
.license-connect .service-connected:before,
.license-connect .service-not-connected:before {
  background: url(../images/sprite-service-connectivity.png);
  height: 35px;
  top: 7px;
  width: 39px;
}
.license-connect .service-connected strong,
.license-connect .service-not-connected strong {
  color: #00b274;
}
.license-connect .service-not-connected:before {
  background-position: -39px 0;
}
.license-connect .service-not-connected strong {
  color: #e31937;
}
.license-connect p {
  margin-bottom: 0;
}
.license-connect.narrow-license-connect div {
  width: 100%;
}
.license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 1.25em 0;
  padding: 1.25em 0;
}
.action-list a {
  background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.7em 50px 0.7em 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-list a[href^="mailto:"] {
  background: none;
}
.action-list a[href^="mailto:"]:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 0.5em;
}
.action-list.email-addresses {
  border-top: none;
  color: #7d7d7d;
  margin-top: -2.5em;
}

.application-logo {
  max-height: 120px;
  max-width: 200px;
}

.launch-icons {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  margin: 1.25em 0 0;
  padding-top: 1.25em;
}
.launch-icons li {
  padding: 0.5em 0;
}
.launch-icons .start-app, .launch-icons .recommend-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 170px;
  font-size: 1em;
}

.service-stats {
  margin: 0 0 17px 0;
  padding: 0;
  position: relative;
}
.service-stats:before {
  background: url(../images/sprite-secondary-menu.png);
  background-position: -40px -150px;
  content: "";
  height: 50px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  width: 30px;
}
.service-stats:hover:before, .service-stats:focus:before, .service-stats.active:before {
  background-position: 0 -150px;
}

.profile-attributes-js {
  position: relative;
}
.profile-attributes-js .attributes-main {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-attributes-js .attributes-main ul {
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 450px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 25px;
  width: 85%;
}
@media (max-width: 480px) {
  .profile-attributes-js .attributes-main ul {
    padding: 1em;
  }
}
.profile-attributes-js .attributes-main ul li {
  overflow: hidden;
}
.profile-attributes-js .attributes-main ul span {
  float: right;
  font-style: italic;
}
.profile-attributes-js .attributes-main ul .see-all {
  margin-top: 1.5em;
  text-align: right;
}
.profile-attributes-js .attributes-main ul .btn {
  margin-right: 0;
}

.alert-success {
  background-color: #dbf4eb;
  border-color: #00b274;
  color: #00b274;
}

.inlinehelp {
  margin-left: 10px;
}

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px;
}
footer .content-some-dense {
  padding: 0;
}
footer a {
  color: #999999;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover, footer a:focus {
  color: #070707;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px;
  }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em;
  }

  section {
    margin-right: 0 !important;
  }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .action-list li {
    max-width: 15em;
  }
  .action-list a:not(.service-stats) {
    padding: 0.3em 50px 0.3em 0;
  }

  footer {
    padding: 25px;
  }
}
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px;
  }

  .license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
    margin-bottom: 0.5em;
    padding-bottom: 2em;
  }

  .service-connected,
  .service-not-connected {
    padding-bottom: 20px;
  }
}
.secondary-menu {
  margin: 0px;
  display: inline-block;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 20px 10px 13px;
  overflow: hidden;
}
.secondary-menu ul {
  margin: 0;
  list-style: none;
}
.secondary-menu ul li {
  padding: 0px 40px 15px 0px;
  position: relative;
  display: inline;
}
.secondary-menu ul li:before {
  background: url(../images/sprite-secondary-menu.png) no-repeat;
  background-position: 0 0;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  top: -12px;
  width: 0px;
}
.secondary-menu ul li:hover:before, .secondary-menu ul li:focus:before, .secondary-menu ul li.active:before {
  background-position: -40px 0;
}
.secondary-menu ul li.groups:before, .secondary-menu ul li.taxonomy:before {
  background-position: 0 -50px;
}
.secondary-menu ul li.groups:hover:before, .secondary-menu ul li.groups:focus:before, .secondary-menu ul li.groups.active:before, .secondary-menu ul li.taxonomy:hover:before, .secondary-menu ul li.taxonomy:focus:before, .secondary-menu ul li.taxonomy.active:before {
  background-position: -40px -50px;
}
.secondary-menu ul li.requests-overview:before {
  background-position: 0 -100px;
}
.secondary-menu ul li.requests-overview:hover:before, .secondary-menu ul li.requests-overview:focus:before, .secondary-menu ul li.requests-overview.active:before {
  background-position: -40px -100px;
}
.secondary-menu ul li.notifications:before {
  background-position: 0 -100px;
}
.secondary-menu ul li.notifications:hover:before, .secondary-menu ul li.notifications:focus:before, .secondary-menu ul li.notifications.active:before {
  background-position: -40px -100px;
}
.secondary-menu ul li.stats:before {
  background-position: 0 -150px;
}
.secondary-menu ul li.stats:hover:before, .secondary-menu ul li.stats:focus:before, .secondary-menu ul li.stats.active:before {
  background-position: -40px -150px;
}
.secondary-menu ul li.profile:before {
  background-position: 0 -200px;
}
.secondary-menu ul li.profile:hover:before, .secondary-menu ul li.profile:focus:before, .secondary-menu ul li.profile.active:before {
  background-position: -40px -200px;
}
.secondary-menu ul li.allsplmng:before {
  background-position: 0 -250px;
}
.secondary-menu ul li.allsplmng:hover:before, .secondary-menu ul li.allsplmng:focus:before, .secondary-menu ul li.allsplmng.active:before {
  background-position: -40px -250px;
}
.secondary-menu ul li.allidplmng:before {
  background-position: 0 -300px;
}
.secondary-menu ul li.allidplmng:hover:before, .secondary-menu ul li.allidplmng:focus:before, .secondary-menu ul li.allidplmng.active:before {
  background-position: -40px -300px;
}
.secondary-menu ul li.cspstatus:before {
  background-position: 0 -350px;
}
.secondary-menu ul li.cspstatus:hover:before, .secondary-menu ul li.cspstatus:focus:before, .secondary-menu ul li.cspstatus.active:before {
  background-position: -39px -350px;
}
.secondary-menu ul li.actions {
  float: none;
}
.secondary-menu a {
  color: #7f7f7f;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.06em;
  padding: 4px 0 4px 40px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.secondary-menu a:hover, .secondary-menu a:focus {
  color: #1c5869;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  outline: none;
}
.secondary-menu .active > a {
  color: #4fb3cf;
}

@media (max-width: 767px) {
  .secondary-menu a {
    font-size: 16px;
    font-weight: 300;
  }
  .secondary-menu ul li {
    padding: 0;
  }
}
