ul.facets {
  list-style: none;
  margin: 0;
}

ul.facets-values {
  list-style: none;
  margin: 2px 0 0 5px;
}

a.facet-value {
  text-decoration: none;
}
a.facet-value.active:before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-right: 0.5em;
  color: green;
}

.options {
  display: inline-block;
  float: right;
  padding-top: 2px;
}
.options.inner {
  padding-top: 0;
  margin: 0;
}
.options.inner .btn {
  padding: 0;
  background-color: #4fb3cf;
  color: white;
}
.options span {
  font-size: 14px;
  padding: 0px 10px 2px 10px;
}

.taxonomy .accordion-inner {
  border: none;
  padding: 5px 0px 5px 20px;
}
.taxonomy .accordion-inner .btn-primary {
  margin-top: 15px;
}

.facet-values li {
  padding: 2px 0px;
  margin-top: 5px;
}
.facet-values li.facet-value-translations {
  height: 40px;
}
.facet-values li.facet-value-translations button {
  vertical-align: middle;
}
.facet-values li:last-child {
  border-bottom: none;
  margin-bottom: 8px;
}

input.inline-edit {
  margin: 8px 0;
  padding: 4px;
}

a.with-options i {
  padding-right: 10px;
}

a.local-link {
  color: #626262;
}

.taxonomy-overview, .taxonomy-translations {
  margin: 40px;
}
.taxonomy-overview .content, .taxonomy-translations .content {
  margin: 20px 0px;
}
.taxonomy-overview .nav-divider, .taxonomy-translations .nav-divider {
  margin: 40px 0px;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
}

.taxonomy-translations .accordion-body {
  clear: both;
}

.taxonomy-sp-configuration .accordion {
  margin: 0 300px 0 310px;
}
.taxonomy-sp-configuration .content {
  margin-top: 47px;
}
.taxonomy-sp-configuration .ajax-loader {
  background: url(../images/ajax-loader.gif) no-repeat 50% 1em;
  min-height: 150px;
}
