.modal-header
  +filter-gradient(#4FB3CF, #4294AB)
  background: #4FB3CF
  +background(linear-gradient(top, #4FB3CF, #4294AB), #4FB3CF)

  h1,
  h2,
  h3
    color: #FFF

.modal-body    
  p
    margin: 5px
    
.modal-footer    
  a
    font-size: 14px

.recommendation-header
  color: white
  
.recommendation-textinput
  width: 90%
  
.select2-container
  width: 70%
  
.select2-search-choice
  font-size: 12px    