@import "../utilities/vars.sass"

div.flash
  width: 100%
  text-align: center
  color: white
  font-size: large
  position: relative

  .container
    position: relative

  &.info
    background-color: $green
  &.warning
    background-color: $orange
  &.error
    background-color: $red

  &.full
    max-width: 100%
    margin-bottom: 20px
    padding-top: 0
  &.no-margin-bottom
    padding-bottom: 0

  p
    padding: 10px
    padding-right: 30px

  a.link
    color: white

  a.close
    text-decoration: none
    position: absolute
    right: 20px
    top: 5px
    color: white
