.mod-header
  +pie-clearfix
  padding: 20px 30px
  background: #fff
  border-bottom: 2px solid $blue

  // Main app title
  .title
    float: left
    @extend %h2

  // Meta = right aligned stuff
  .meta
    float: right

  // Styling for elements
  a
    text-decoration: none
    &:hover
      text-decoration: underline

  .language,
  .links
    float: left
    margin-left: 40px
    line-height: 30px

    li
      float: left
      list-style: none

    a
      display: block
      padding: 0 14px
      border-right: 1px solid $light-grey

    li:last-child a
      border: 0

  // EN / NL language switch
  .language
    overflow: hidden
    border-radius: $br

    a
      background: $light-grey
      border-color: #fff

      &:hover,
      &.selected
        background: $blue
        color: #fff

  .name
    float: left
    line-height: 30px

    > ul
      @extend %box, %z2
      position: absolute
      z-index: 100
      padding: 20px 20px 0
      width: 200px
      top: 60px

      &.show
        display: block

    li li,
    h2
      border-bottom: 1px solid $border

    ul ul
      margin-bottom: 20px
