.mod-attributes
  @extend %table
  margin-bottom: 20px

  table
    @extend %box
    margin-bottom: 20px
    th.attribute, th.value, th.motivation
      width: 33%

  td
    font-size: .9em

  span.filter-info
    display: block
    margin-top: .3em
    font-weight: bold

  i.fa-info-circle
    color: $blue
    margin-left: 10px

  ul.filters
    margin-top: .3em

    li.filter
      font-style: italic

  em.no-attribute-value
    font-style: italic

  ul.attributes-policy-warnings
    list-style: inside

div.manipulation-notes
  p.title
    margin: 10px 0
    font-weight: bold
  section.notes
    background: #fff
    border-radius: 5px
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
    padding: 15px

    ol, ul
      list-style: inside
    h1
      font-size: 18px
      margin: 8px 0
      font-weight: bold
    h2
      font-size: 16px
      margin: 6px 0
      font-weight: bold
    h3
      font-size: 14px
      margin: 4px 0
      font-weight: bold
