@import "../utilities/vars.sass"
@import "../utilities/mixins.sass"

body
  font-family: "Nunito", Sans-serif
  font-weight: 400
  font-size: 100%
  line-height: 1.5
  color: $text
  -webkit-font-smoothing: antialiased

blockquote
  margin-bottom: 2rem

a
  color: $blue

  &:hover
    text-decoration: none

.text-right
  text-align: right

.text-center
  text-align: center

%h1
  @include font-size(30)
  line-height: 40px

%h2
  @include font-size(24)
  line-height: 1
  font-weight: 600

%h3
  @include font-size(16)
  font-weight: bold
  line-height: 25px
  margin-bottom: 5px
