<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Access denied</title>
  <meta content='width=1280' id='vp' name='viewport'/>
  <meta charset='utf-8'/>
  <link href="/css/application.css" th:href="@{/dashboard/api/css/application.min.css}" media="screen" rel="stylesheet"/>
</head>
<body>

<div class="l-header">
  <div class="mod-header"><h1 class="title"><a th:href="@{/home}">Dashboard</a></h1></div>
</div>
<div class="l-main">
  <div class="l-rights">
    <h1>Access denied</h1>

    <p></p>

    <p>
      Unfortunately you don't have the permission to access the requested url.<br/> You can visit the <a
      th:href="@{/home}">homepage</a>
      instead or send an email to <a href="mailto:help@surfconext.nl">help@surfconext.nl</a>
    </p>

  </div>
</div>

<div class="mod-footer">
  <ul>
    <li><a href="http://www.surfnet.nl" target="_blank">SURFnet</a></li>
    <li><a href="mailto:help@surfconext.nl">help@surfconext.nl</a></li>
  </ul>
</div>
</body>
</html>
