<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>localhost</smtpHost>
    <from>no-reply@surfconext.nl</from>
    <to>oharsta@zilverline.com</to>
    <subject>Unepxected error dashboard</subject>
    <layout class="ch.qos.logback.classic.html.HTMLLayout"/>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

</configuration>


