#
# Copyright 2012 SURFnet bv, The Netherlands
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#


# SMTP server settings for notifications
coin-mailserver=localhost


wayf.url.metadata=https://engine._OPENCONEXT_DOMAIN_/authentication/idp/metadata
wayf.url.sso=https://engine._OPENCONEXT_DOMAIN_/authentication/idp/single-sign-on
wayf.certificate=???

## Properties for opensaml
ISSUING_ENTITY_ID=https://dashboard._OPENCONEXT_DOMAIN_/

WEB_APPLICATION_HOST_AND_PORT=dashboard._OPENCONEXT_DOMAIN_


# Team id that is used as definition of who is a 'dashboard_admin'.
dashboard.admin=urn:collab:group:teams._OPENCONEXT_DOMAIN_:nl:surfnet:diensten:dashboard_admin
# Team id that is used as definition of who is a 'dashboard.viewer'.
dashboard.viewer=urn:collab:group:teams._OPENCONEXT_DOMAIN_:nl:surfnet:diensten:dashboard_viewer
# Team id that is used as definition of who is a 'dashboard_super_user'.
dashboard.super.user=urn:collab:group:teams._OPENCONEXT_DOMAIN_:nl:surfnet:diensten:dashboard_super_user

# Is this the dashboard instance
is.dashboard=true

api-baseurl=https://api._OPENCONEXT_DOMAIN_/v1/
api-consumerkey=https://dashboard._OPENCONEXT_DOMAIN_
api-consumersecret=secret
api-callbackuri=https://dashboard._OPENCONEXT_DOMAIN_/apiOauthCallback?apiOauthCallback=true

# we do not want SAB on the VM
sabClientClass=nl.surfnet.sab.SabClientMock

# SAB connection details
sab.endpoint=??
sab.username=??
sab.password=??

# SAB roles
admin.licentie.idp.sabRole=?
admin.surfconext.idp.sabRole=?
viewer.surfconext.idp.sabRole=?

csa.base.url=https://csa._OPENCONEXT_DOMAIN_
csa.client.key=dashboard-csa-client
csa.client.secret=70c2d0ef-1848-4cfb-b9e1-d69bba442cdf
csa.oauth2.authorization.url=https://apis._OPENCONEXT_DOMAIN_/oauth2/token

cruncher.base.url=https://cruncher._OPENCONEXT_DOMAIN_/stats/v1
cruncher.client.key=dashboard-cruncher-client
cruncher.client.secret=7ff37fe7-161c-4f71-bb8f-8c9ad0f23ee3
cruncher.oauth2.authorization.url=https://apis._OPENCONEXT_DOMAIN_/oauth2/token

# Defines if the site is in local dev mode or deployed on the server. Needed for CSS/JS concatenation
feature.development.mode=true

# Properties file that contains metadata values for outputting SAML metadata
saml-metadata-properties-file=metadata.dashboard.properties
