@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-smooth: always;
}

h1 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px;
}
p p,
p ul,
p ol,
p th,
p td,
p legend,
ul p,
ul ul,
ul ol,
ul th,
ul td,
ul legend,
ol p,
ol ul,
ol ol,
ol th,
ol td,
ol legend,
th p,
th ul,
th ol,
th th,
th td,
th legend,
td p,
td ul,
td ol,
td th,
td td,
td legend,
legend p,
legend ul,
legend ol,
legend th,
legend td,
legend legend {
  font-size: 1em;
}

li {
  line-height: 25px;
}

p,
ul,
ol,
.arp {
  margin-bottom: 25px;
}
p:last-child,
ul:last-child,
ol:last-child,
.arp:last-child {
  margin-bottom: 0;
}

.content h1,
.content h2,
.content h3 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.content h1 a,
.content h2 a,
.content h3 a {
  color: black;
}
.content li {
  line-height: 25px;
}

a {
  color: #4fb3cf;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover, a:focus {
  color: #070705;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.wrapper {
  clear: both;
  width: 100%;
}
.wrapper .content-holder .content {
  padding: 0;
}
.wrapper .side-content-holder section {
  margin-right: 50px;
}
.wrapper .side-content-holder section p {
  color: #7d7d7d;
}
.wrapper section {
  background: transparent;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black !important;
  padding: 0;
}
.wrapper h1:first-child,
.wrapper h2:first-child,
.wrapper h3:first-child {
  margin-top: 0;
}
.wrapper h1 a,
.wrapper h2 a,
.wrapper h3 a {
  color: black;
}
.wrapper h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 1em 0 0.5em;
}
.wrapper h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0.8em 0 0.2em;
}
.wrapper hr {
  border-top: 1px solid #e5e5e5;
  height: 0;
  margin: 25px 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.license-connect {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  margin-bottom: 1.6em;
  overflow: hidden;
  padding: 1em 0;
}
.license-connect div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 0 0 45px;
  position: relative;
  width: 50%;
}
.license-connect div:before {
  background: url(../images/sprite-license-availability.png);
  content: "";
  height: 39px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 34px;
}
.license-connect .license-available,
.license-connect .license-not-available,
.license-connect .license-not-needed {
  padding-bottom: 5px;
}
.license-connect .license-available:before,
.license-connect .license-not-available:before,
.license-connect .license-not-needed:before {
  background: url(../images/sprite-license-availability.png);
}
.license-connect .license-available strong,
.license-connect .license-not-available strong,
.license-connect .license-not-needed strong {
  color: #00b274;
}
.license-connect .license-not-available:before {
  background-position: -35px 0;
}
.license-connect .license-not-available strong {
  color: #e31937;
}
.license-connect .license-not-needed:before {
  background-position: -70px 0;
}
.license-connect .license-not-needed strong {
  color: #666666;
}
.license-connect .service-connected,
.license-connect .service-not-connected {
  padding-left: 49px;
  padding-bottom: 5px;
}
.license-connect .service-connected:before,
.license-connect .service-not-connected:before {
  background: url(../images/sprite-service-connectivity.png);
  height: 35px;
  top: 7px;
  width: 39px;
}
.license-connect .service-connected strong,
.license-connect .service-not-connected strong {
  color: #00b274;
}
.license-connect .service-not-connected:before {
  background-position: -39px 0;
}
.license-connect .service-not-connected strong {
  color: #e31937;
}
.license-connect p {
  margin-bottom: 0;
}
.license-connect.narrow-license-connect div {
  width: 100%;
}
.license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.action-list {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  list-style: none;
  margin: 1.25em 0;
  padding: 1.25em 0;
}
.action-list a {
  background: url(../images/bg-action-list-item.png) no-repeat 100% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 0.7em 50px 0.7em 0;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.action-list a[href^="mailto:"] {
  background: none;
}
.action-list a[href^="mailto:"]:before {
  content: "\f003";
  font-family: FontAwesome;
  margin-right: 0.5em;
}
.action-list.email-addresses {
  border-top: none;
  color: #7d7d7d;
  margin-top: -2.5em;
}

.application-logo {
  max-height: 120px;
  max-width: 200px;
}

.launch-icons {
  border-top: 1px solid #e5e5e5;
  list-style: none;
  margin: 1.25em 0 0;
  padding-top: 1.25em;
}
.launch-icons li {
  padding: 0.5em 0;
}
.launch-icons .start-app, .launch-icons .recommend-app {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  width: 170px;
  font-size: 1em;
}

.service-stats {
  margin: 0 0 17px 0;
  padding: 0;
  position: relative;
}
.service-stats:before {
  background: url(../images/sprite-secondary-menu.png);
  background-position: -40px -150px;
  content: "";
  height: 50px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  width: 30px;
}
.service-stats:hover:before, .service-stats:focus:before, .service-stats.active:before {
  background-position: 0 -150px;
}

.profile-attributes-js {
  position: relative;
}
.profile-attributes-js .attributes-main {
  background: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.profile-attributes-js .attributes-main ul {
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 450px;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 25px;
  width: 85%;
}
@media (max-width: 480px) {
  .profile-attributes-js .attributes-main ul {
    padding: 1em;
  }
}
.profile-attributes-js .attributes-main ul li {
  overflow: hidden;
}
.profile-attributes-js .attributes-main ul span {
  float: right;
  font-style: italic;
}
.profile-attributes-js .attributes-main ul .see-all {
  margin-top: 1.5em;
  text-align: right;
}
.profile-attributes-js .attributes-main ul .btn {
  margin-right: 0;
}

.alert-success {
  background-color: #dbf4eb;
  border-color: #00b274;
  color: #00b274;
}

.inlinehelp {
  margin-left: 10px;
}

footer {
  background: transparent url(../images/bg-footer.png) no-repeat 50% 0;
  color: #999999;
  font-size: 0.9em;
  line-height: 25px;
  margin: 0;
  padding: 25px 50px;
}
footer .content-some-dense {
  padding: 0;
}
footer a {
  color: #999999;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
footer a:hover, footer a:focus {
  color: #070707;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .wrapper h1 {
    font-size: 20px;
    line-height: 25px;
  }
  .wrapper h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .wrapper h3 {
    font-size: 14px;
    line-height: 25px;
  }

  .side-content-holder {
    border-top: 1px solid #e5e5e5;
    margin-top: 4em;
    padding-top: 4em;
  }

  section {
    margin-right: 0 !important;
  }

  .action-list {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }
  .action-list li {
    max-width: 15em;
  }
  .action-list a:not(.service-stats) {
    padding: 0.3em 50px 0.3em 0;
  }

  footer {
    padding: 25px;
  }
}
@media (max-width: 950px) {
  .no-sticky-app-grid-wrapper-menu footer {
    padding: 25px;
  }

  .license-connect.narrow-license-connect .service-connected, .license-connect.narrow-license-connect .service-not-connected {
    margin-bottom: 0.5em;
    padding-bottom: 2em;
  }

  .service-connected,
  .service-not-connected {
    padding-bottom: 20px;
  }
}
.data-table-holder {
  position: relative;
}
.data-table-holder:nth-child(2) {
  margin-top: 20px;
}

.data-table-wrapper {
  overflow: auto;
  width: 100%;
}
.data-table-wrapper .table {
  min-width: 700px;
}

.table,
.table-bordered,
.table-striped {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: #e1e1e1;
  margin: 1em 0;
}
.table th,
.table-bordered th,
.table-striped th {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2)), white;
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2), white;
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2), white;
  background: -o-linear-gradient(top, #ffffff, #f2f2f2), white;
  background: linear-gradient(top, #ffffff, #f2f2f2), white;
  border-bottom-color: #e1e1e1;
  border-left: none;
  border-right: none;
  color: #666666;
  font-size: 12px;
  font-weight: normal;
  height: auto;
}
.table th a,
.table-bordered th a,
.table-striped th a {
  color: #666666;
}
.table td,
.table-bordered td,
.table-striped td {
  background: white;
  border-bottom-color: #e1e1e1;
  border-left: none;
  border-right: none;
  color: black;
  min-width: 120px;
  padding: 10px 8px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.table tr:nth-child(even) td,
.table-bordered tr:nth-child(even) td,
.table-striped tr:nth-child(even) td {
  background: #f8f8f8 !important;
}

.table-sortable {
  margin-top: 2.25em;
}
.table-sortable thead .sorting,
.table-sortable thead .sorting_asc,
.table-sortable thead .sorting_desc {
  cursor: pointer;
}
.table-sortable thead .sorting:focus,
.table-sortable thead .sorting_asc:focus,
.table-sortable thead .sorting_desc:focus {
  color: #070707;
  outline: none;
  text-decoration: underline;
}
.table-sortable thead .sorting_asc:after,
.table-sortable thead .sorting_desc:after {
  background: url(../images/bg-toggle-read-more.png) 0 0;
  bottom: 2px;
  content: "";
  display: inline-block;
  height: 7px;
  margin-left: 10px;
  position: relative;
  vertical-align: middle;
  width: 9px;
}
.table-sortable thead .sorting_asc:after {
  background-position: 0px -7px;
}

.table-discussion td {
  border-left: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 270px;
  padding: 25px;
}
.table-discussion td:first-child {
  border-left: none;
}
.table-discussion td time {
  color: #666666;
}
.table-discussion td label {
  font-family: "VAG Rundschrift D Light", vagrundschriftdligregular, "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-size: 20px;
  font-smooth: always;
  font-weight: normal;
  line-height: 25px;
}
.table-discussion td textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  height: 10em;
  resize: vertical;
  width: 100%;
}

.dataTables_empty {
  font-style: italic;
}

.dataTables_filter input {
  background: white url(../images/bg-icon-grid-search.png) no-repeat 96% 50%;
  border-radius: 5em;
  height: auto;
  padding: 6px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.table-with-statuses .new:before,
.table-with-statuses .in-progress:before,
.table-with-statuses .handled:before,
.table-with-statuses .denied:before {
  background: url(../images/sprite-icons-statuses.png);
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  width: 23px;
}
.table-with-statuses .denied:before {
  background-position: 0 -18px;
}
.table-with-statuses .handled:before {
  background-position: 0 -36px;
}
.table-with-statuses .in-progress:before {
  background-position: 0 -54px;
}

.table.narrow {
  display: block;
  min-width: 0;
  width: 100%;
}
.table.narrow thead,
.table.narrow tbody,
.table.narrow th,
.table.narrow td,
.table.narrow tr {
  display: block;
}
.table.narrow thead tr {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
.table.narrow tr {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
}
.table.narrow td {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 40%;
  position: relative;
}
.table.narrow td:before {
  content: attr(data-title);
  left: 8px;
  padding-right: 10px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 55%;
}

table.arp td, table.arp th {
  text-align: left;
  padding-right: 10px;
  font-size: smaller;
}

.notification-image {
  width: 30px;
}

.icon-remove.icon-greyed-out::before {
  color: #aaaaaa;
}

@media (max-width: 767px) {
  .dataTables_filter input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    position: static;
    width: 100%;
  }
}
@media (max-width: 600px), (max-width: 1000px) and (min-width: 767px) {
  .table-discussion {
    min-width: 0;
  }
  .table-discussion tr,
  .table-discussion td {
    border: none;
    display: block;
  }
  .table-discussion td,
  .table-discussion th {
    background: transparent !important;
    padding: 15px 0 5px;
  }
  .table-discussion td + td, .table-discussion td + th,
  .table-discussion th + td,
  .table-discussion th + th {
    padding: 0 0 15px;
  }
  .table-discussion td:nth-child(even),
  .table-discussion th:nth-child(even) {
    border-bottom: 1px solid #e5e5e5;
  }

  .table-discussion.table-striped tbody tr:nth-child(even) td {
    background: transparent !important;
  }
}
@media (max-width: 767px) and (min-width: 600px) {
  .table-discussion td,
  .table-discussion th {
    min-width: 200px;
  }
}
